<footer id="page-footer" class="footer-bg">
    <div class="container">
        <div class="row">
        <div class="col-lg-9 col-sm-9 col-xs-12">
            <div class="col-lg-6 col-sm-12 col-xs-12 text-center-phone">
                <span class="stacktext">Stack Data Labs</span>
                <div class="immersive"><h1>Stack Data Labs is Immersive Training Provider</h1> to cater the need of Skills of next internet world - cloud, bigdata, data Science & IoT with full stack training courses.</div>
                <ul class="soc"> 
                    <li><a href="//twitter.com/stackdatalabs"><img src="/images/twitter.png" class="img-responsive" alt="Stack Data Labs Twitter"></a></li>
                    <li><a href="//buffer.com/app/profile/57c6cbdd5b0c8c804f5feff5/buffer/queue/list"><img src="/images/buffer.png" class="img-responsive" alt="Stack Data Labs Buffer"></a></li>
                    <li><a href="#"><img src="/images/slideshare.png" class="img-responsive" alt="Stack Data Labs Slideshare"></a></li>
                    <li><a href="//www.facebook.com/StackDataLabs"><img src="/images/facebook.png" class="img-responsive" alt="Stack Data Labs Facebook"></a></li>
                    <li><a href="//www.linkedin.com/company/stacklabs-data-driven-labs?trk=biz-companies-cym"><img src="/images/linkedin.png" class="img-responsive" alt="Stack Data Labs LinkedIn"></a></li>
                    <li><a href="//www.youtube.com/channel/UCoRnN4PFryn16v523jEGD8g"><img src="/images/youtube.png" class="img-responsive" alt="Stack Data Labs Youtube"></a></li>
                </ul>
            </div>
             <div class="col-lg-2 col-sm-4 col-xs-6">
                <h2>Company</h2>
                <ul>
                    <li><a title="Teams" href="/team-industry-experts-faculty-instructors">Teams</a></li>
                    <li><a title="Partners" href="/partners">Partners</a></li>
                    <li><a title="Career" href="/placement-career-jobs-companies-bigdata-cloud">Career</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <h2>Labs</h2>
                <ul>
                    <li><a title="Cloud" href="#">Cloud</a></li>
                    <li><a title="Big Data" href="#">Big Data</a></li>
                    <li><a title="IoT" href="#">IoT</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6">
                <h2>Enterprise</h2>
                <ul class="enterprise-footer">
                    <li><a title="Learn" href="/enterprise-training/training-finishing-school-cloud-bigdata-data-science-iot">Learn</a></li>
                    <li><a title="Explore" href="/enterprise-training/cloud-computing-labs-analytics-platform">Workshops</a></li>
                    <li><a title="Develop" href="/enterprise-training/learning-institue-internship-chandigarh">Develop</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 footer-skills">
                 <p>"Skill that Employees want, but colleges have failed to provide."</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 footer-phone">
                <p>Call Us : <a href="#">(+91) 803-319-2899</a>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="copyright hidden-tablet">
                <h3 class="f-populer">Popular Tags</h3>
                <div class="post">

                 <button type="button" class="navbar-toggle toogle-footer" data-toggle="collapse" data-target="#bs-example-navbar-collapse-12">
                    <i class="fa fa-plus-circle" aria-hidden="true"><span>Popular Tags</span></i>
                </button>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-12">
                    <ul class="tags">
                        <li><a href="/big-data">Big Data</a></li>
                        <li><a href="/cloud-computing">OpenStack</a></li>
                        <li><a href="/data-science">Data Science</a></li>
                        <li><a href="/internet-of-things">IoT</a></li>
                        <li><a href="/devops">Docker</a></li>
                        <li><a href="/python-data-science-web-scrapping-analytics">Python</a></li>
                        <li><a href="/apache-spark-storm-flink-training-chandigarh">Apache Spark</a></li>
                        <li><a href="/python-aritifical-intelligence-deep-learning-training">AI</a></li>
                        <li><a href="/devops-containers-kubernetes">Kubernetes</a></li>
                        <li><a href="/data-science-machine-learning-training-chandigarh">Machine Learning</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-12">
                 <h2 class="contactus">Contact Us</h2>
                <div class="address">
                    <p>116-120 GF, 231-232 1F, SPIC Building,</p>
                    <p>PEC University Sector 12,</p>
                    <p>Chandigarh, INDIA</p>
                    <p>info@stackdatalabs.com</p>
                </div>
                <div class="address">
                    <div class="locations">
                        <h4>
                            <a href="/locations">Locations</a>
                        </h4>
                    </div>
                </div>
        </div>
        </div>

        <div class="row">
             <p class="copy-rit">@2015 StackLabs. All Rights Reserved.</p>
        </div>
    </div>
</footer>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-66994003-1', 'auto');
ga('send', 'pageview');

</script> 