<footer id="page-footer" class="footer-bg">
    <div class="container">
        <div class="row">
        <div class="col-lg-9 col-sm-9 col-xs-12">
            <div class="col-lg-8 col-sm-7 col-xs-12 text-center-phone">
                <h2 class="stack-labs">Stack Labs</h2>
                <p>StackLabs is Immersive Training Provider to cater the need of Skills of Next Internet World, Cloud, Big Data, Data Science & IOT with Full Stack Courses.</p>
                <ul class="soc"> 
                    <li><a href="#" class="soc-twitter icon socicon-twitter"></a></li>
                    <li><a href="#" class="soc-buffer icon socicon-buffer"></a></li>
                    <li><a href="#" class="soc-slideshare icon socicon-slideshare"></a></li>
                    <li><a href="#" class="soc-facebook icon socicon-facebook"></a></li>
                    <li><a href="#" class="soc-linkedin icon socicon-linkedin"></a></li>
                    <li><a href="#" class="soc-pinterest icon socicon-pinterest"></a></li>
                    <li><a href="#" class="soc-youtube soc-icon-last icon socicon-youtube"></a></li>
                </ul>
                <br>
                <p>"Skill that Employees want, but colleges have failed to provide."</p>
            </div>
             <div class="col-lg-2 col-sm-2 col-xs-6">
                <h2>Company</h2>
                <ul>
                    <li><a title="Teams" href="#">Teams</a></li>
                    <li><a title="Partners" href="#">Partners</a></li>
                    <li><a title="Career" href="#">Career</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-6">
                <h2>Programs</h2>
                <ul>
                    <li><a title="Learn" href="#">Learn</a></li>
                    <li><a title="Explore" href="#">Explore</a></li>
                    <li><a title="Develop" href="#">Develop</a></li>
                </ul>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="copyright hidden-tablet">
                <h4 class="f-populer">Popular Tags</h4>
                <div class="post">
                    <ul class="tags">
                        <li><a href="/big-data">Big Data</a></li>
                        <li><a href="/cloud-computing">OpenStack</a></li>
                        <li><a href="/data-science">Data Science</a></li>
                        <li><a href="/Internet-of-things">IoT</a></li>
                        <li><a href="#">Docker</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Apache Spark</a></li>
                        <li><a href="#">AI</a></li>
                        <li><a href="#">Kubernetes</a></li>
                        <li><a href="#">Machine Learning</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-12">
                 <h2 class="contactus">Contact Us</h2>
                <div class="address">
                    <p>116-120 GF, 231-232 1F, SPIC Building,</p>
                    <p>PEC University Sector 12,</p>
                    <p>Chandigarh, INDIA</p>
                    <p>info@stackdatalabs.com</p>
                </div>
                <div class="address">
                    <p>Kavuri Hills, Phase 1</p>
                    <p>Behind Hotel Jubilee Ridge,</p>
                    <p>Hyderabad, INDIA</p>
                </div>
        </div>
        </div>

        <div class="row">
             <h6 class="copy-rit">@2015 StackLabs. All Rights Reserved.</h6>
        </div>
    </div>
</footer>