<nav id="nav" class="navbar navbar-inverse nav_header sticky">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header navmain">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img class="img-responsive header-img"  src="/images/StackDataLabs-Training-Institute-for-Cloud-BigData-IoT.png" alt="Stack Data Labs:Immersive Training Provider" title="stack-labs"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right header-right">
                   <li class="dropdown_main">
                        <h2><a href="/training" class="dropdown-hover ">Programs</a></h2>
                        <ul class="dropdown-list">
                            <li>
                                <a href="/training/big-data">Big Data</a>
                            </li>
                            <li>
                                <a href="/training/cloud-computing">Cloud Computing</a>
                            </li>
                            <li>
                                <a href="/training/data-science-iot">Data Science</a>
                            </li>
                            <li>
                                <a href="/training/devops">Devops</a>
                            </li>
                            <li>
                                <a href="/training/bussiness-intelligence">Business Intelligence</a>
                            </li>
                            <li>
                                <a href="/training/data-visualization">Data Visualization</a>
                            </li>
                        </ul>
                    </li>
        
                    <li><h2><a href="/certification/cloud-computing-bigdata-data-science-java-python">Certifications</a></h2></li>
                    <li><h3><a href="#">Blogs</a></h3></li>
                    <li><h3><a href="#">Events</a></h3></li>
                    <li><h4><a href="/company/who-we-are">Who we are</a></h4></li>
                    <li><h4><a href="/company/alumini">Alumni</a></h4></li>
                    <li><h5><a class="enroll" href="/contact-us/enroll-apply-industrial-training-chandigarh-hyderabad">Get More Info</a></h5></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <script type="text/javascript">

var stickyOffset = $('.sticky').offset().top;

$(window).scroll(function(){
  var sticky = $('.sticky'),
      scroll = $(window).scrollTop();
    
  if (scroll >= stickyOffset) sticky.addClass('fixed');
  else sticky.removeClass('fixed');
});

</script>