html,
body {
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
margin: 0;
}
ul li{
  list-style: none;
  margin: 0;
  padding: 0;
}
p{
  margin: 0 0 10px;
}
section {
    float: left;
    width: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}
.stack_video {
  background-size: cover;
  height: 500px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.stack_video .video_container {
    z-index: 3;
    position: relative;
    text-align: center;
}
.stack_video h1 {
  color: #fff;
  font-family: "Raleway",sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 150px;
}
.stack_video h2 {
    margin-top: 10px;
}
.stack_video h2 {
    margin-top: 38px;
    color: #fff;
    font-size: 37px;
    font-family: "Raleway",sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
}
.stack_video .watchBtn {
    color: #fff;
    display: inline-block;
    padding-left: 50px;
    background: url(../images/video_play.png) center left no-repeat;
    background-size: 38px 38px;
    font-size: 16px;
    line-height: 38px;
    font-family: "Raleway",sans-serif;
}
.stack_video .video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.stack_video .bgOverlay {
    position: absolute;
    z-index: 2;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
}
.stack_video .btn {
  background-color: #f58221;
  border: medium none transparent;
  border-radius: 23px;
  color: #fff;
  font-family: "Raleway",sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  margin-top: 30px;
  padding: 10px 34px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.stack_video  .btn:hover {
    background-color: #ea6900;
    color: #fff;
}
.stack_video .watchBtn:hover {
    text-decoration: none;
    color: #f58221;
}
.modal-body.video_popup {
  padding: 0;
}
.modal .video-container {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
}
.video-container {
    height: 0;
    margin-bottom: 25px;
    margin-top: 25px;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 0;
    position: relative;
}
.video-container iframe, .video-container object, .video-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.video_popup button.close {
  background-color: white;
  border-radius: 15px;
  display: block;
  height: 30px;
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  z-index: 999;
}
.modal.fade.modal_home.in {
  z-index: 999999;
}

.dropdown_main {
  position: relative;
}
.dropdown-hover {
  position: relative;
}
.dropdown-list {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 1px 4px 0 #ccc;
  display: none;
  margin: 4px 0 0;
  padding: 0;
  position: absolute;
  width: 250px;
  z-index: 999;
}
.dropdown_main:hover ul {
 display: block;
}
.dropdown-list a {
  display: block;
  padding: 18px 0 10px 70px !important;
  text-align: left;
}
.header {
    padding-top: 15px;
}
.header-left {
    float: left;
    width: 30%;
}
.header-img {
  transition: all 0.3s ease 0s;
  width: 50%;
}

.navbar-header.navmain {
  float: left;
  width: 30%;
}
.navbar.navbar-inverse.nav_header {
  background: transparent none repeat scroll 0 0;
  border: medium none transparent;
  border-radius: 0;
  margin-bottom: 10px;
  margin-top: 20px;
  transition: height 0.3s ease 0s;
}
ul.nav.navbar-nav.navbar-right.header-right {
  margin-top: 0px;
  padding: 0;
  text-align: right;
}
.nav.navbar-nav.navbar-right.header-right li {
  display: block;
  transition: all 0.2s ease 0s;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #0098f9 !important; 
  color: #fff;
}
.header-right ul li:last-child a {
    padding: 0;
}
.navbar.navbar-inverse.nav_header.sticky.fixed {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #ccc;
  left: 0;
  margin-top: 0 !important;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}
.nav.navbar-nav.navbar-right.header-right a {
  color: #666;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 25px 18px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.1s ease 0s;
}
.nav.navbar-nav.navbar-right.header-right a.enroll {
  background: #f58221 none repeat scroll 0 0;
  border-radius: 50px;
  color: #fff;
  margin: 13px 0 0 5px;
  padding: 13px 20px;
}
.nav.navbar-nav.navbar-right.header-right > li:last-child:hover {
  border-bottom: medium none;
}
.nav.navbar-nav.navbar-right.header-right a.enroll:hover {
  background: #ea6900 none repeat scroll 0 0;
  color: #fff;
}
.nav.navbar-nav.navbar-right.header-right li:hover {
  border-bottom: 4px solid #1E86E5;
}

.nav.navbar-nav.navbar-right.header-right .active a {
  background: transparent none repeat scroll 0 0;
  color: #666;
}
.dropdown-list li:hover {
  background: #1E86E5 none repeat scroll 0 0;
  border-bottom: medium none !important;
}
.dropdown-list li:hover a {
  color: #fff !important;
}
.dropdown-list li a {
  background-position: 14px -20% !important;
  background-repeat: no-repeat !important;
  background-size: 44px auto !important;
  height: 56px;
  transition: all 0.4s ease 0s !important;
}
.dropdown-list li:first-child a {
  background-image: url("../images/ic-bigdata.png") !important;
}
.dropdown-list li:nth-child(2) a {
  background-image: url("../images/ic-cloud.png") !important;
}
.dropdown-list li:nth-child(3) a {
  background-image: url("../images/ic-datascience.png") !important;
}
.dropdown-list li:hover a {
  background-position: 14px 115% !important;
}
.dropdown-list > li{
transition: all 0.3s ease 0s !important;
}
.colmun_left {
    float: left;
    padding-top: 30px;
    width: 30%;
}
.main_section {
  float: left;
  padding: 50px 0 40px;
  width: 100%;
}

.courses_section {
  padding-bottom: 50px;
  padding-top: 70px;
}
.colmun2 {
    margin: 0 50px;
}
.colmun1, .colmun2, .colmun3 {
    float: left;
    width: 30%;
}
.text_div {
  margin-bottom: 50px;
  padding: 30px;
  position: relative;
  transition: all 0.5s ease 0s;
}.colmun_left  h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 10px;
}
.colmun_left  p {
  color: #7c7c7c;
  font-size: 16px;
  line-height: 28px;
  margin: 30px 0 0;
  text-align: justify;
  font-family: 'Raleway', sans-serif;
}
.span_text {
  color: #222;
  font-family: "Raleway",sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 51px;
  position: relative;
  text-transform: capitalize;
}
.path_course {
  display: block;
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
}
.courses_inner h5 {
  color: #7c7c7c;
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.courses_inner.text-center > h1 {
    color: #0098f9;
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Monoton', cursive;
}

.courses_main {
    float: left;
    margin-top: 50px;
    width: 100%;
}
.title-row h4 {
  color: #1e86e5;
  font-size: 24px;
  font-weight: 500;
  font-family: "Roboto",sans-serif;
  margin: 0;
  padding: 0;
}
.border {
  background-color: #00E2AF;
  bottom: 0;
  height: 8px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-in-out 0.1s;
  width: 100%;
  z-index: 0;
}
 li.price-row {
   
    padding: 15px 0;
}
.text_div li {
  color: #898989;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 500;
  list-style: outside none none;
  margin: 0;
  padding: 14px 0 0;
}
.price-row > span {
  font-weight: bold;
}
.overlay::before {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.text_div:hover .overlay {
    opacity: 1;
}
.overlay {
    background-position: center top;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    transition: all 0.3s ease-in-out 0.1s;
}

.text_div:hover .card p {
  color: #fff;
  position: relative;
  z-index: 9;
}
.text_div > a {
  text-decoration: none;
   font-family: "Raleway",sans-serif;
}
.text_div:hover li {
    color: #fff;
    position: relative;
    z-index: 9;
}
.text_div a:hover {
 text-decoration: none;
}
.text_div:hover .card i {
  color: #fff;
  position: relative;
  z-index: 9;
}
.card i {
  color: #bdc0c4;
  font-size: 60px;
  margin-bottom: 20px;
}
.text_div:hover .title-row h4 {
  color: #fff;
}
.card {
  padding: 0 0 34px;
}
.card > p {
  color: #7b7c7e;
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 14px;
}
.icon_bg {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
  position: relative;
  width: 60px;
  z-index: 9;
}
.text_div:hover .icon_bg {
  background-position: center 100%;
}
.btn-row {
  background: #f5f5f5 none repeat scroll 0 0;
}

.mybutton a span, .mybutton button span {
  display: inline-block;
  position: relative;
  text-align: center;
}
.mybutton.small a, .mybutton.small button {
  display: block;
  font-size: 13px;
  line-height: 35px;
}
.mybutton a, .mybutton button {
    letter-spacing: 0;
    perspective: 1000px;
}
.mybutton a, .mybutton button {
    border: 0 none;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0;
    outline: medium none;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}

 .mybutton a span::before,  .mybutton button span::before {
    background: #006db2 none repeat scroll 0 0;
}
 .mybutton a span::before, .mybutton button span::before {
    content: attr(data-hover);
    height: 100%;
    left: 0;
    position: absolute;
    top: 100%;
  /*  transform: rotateX(-90deg);
    transform-origin: 50% 0 0;*/
    transition: background 0.3s ease 0s;
    width: 100%;
    color: #fff;
}
.every {
    margin-top: 55%;
}




.parallax {
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}
.section-content {
  margin-top: 0px;
  padding: 50px 0 30px;
}
.parallax h1 {
  color: #fff;
  font-family: "Raleway",sans-serif;
  font-size: 32px;
  line-height: 50px;
}
p.lead {
  color: #7c7c7c;
}
.element-line {
  margin-top: 70px;
}
.item_left {
  left: -80px;
  opacity: 0;
  padding-right: 0;
  position: relative;
}
.parallax-box a {
  background: #fff none repeat scroll 0 0;
  display: block;
  padding: 30px 20px;
}
.parallax-box a i {
  color: #a4a4a4;
}
.parallax-box h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 12px 0;
  text-transform: uppercase;
}
.parallax-box a p {
    color: #8d8d8d;
}
.parallax-box p {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

.text_div:hover .border {
    height: 40px;
}
.explore {
  color: #fff;
  font-size: 17px;
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease-in-out 0.3s;
  font-family: 'Roboto', sans-serif;
}
.text_div a:hover .explore {
  opacity: 1;
}
.text_div a:hover::before {
    left: 30px;
    opacity: 1;
    transition: all 0.3s ease-in-out 0.3s;
}
.text_div a::before {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 2px;
    left: -50px;
    margin-bottom: 20px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    width: 40px;
    z-index: 1;
}

.text_div a:hover::after {
    left: 67px;
    opacity: 1;
    transition: all 0.3s ease-in-out 0.3s;
}
.text_div a::after {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ffffff;
    border-top: 5px solid transparent;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 0;
    left: -20px;
    margin-bottom: 16px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    width: 0;
}


.box > .icon { text-align: center; position: relative; }

.box > .icon > .image {
  background-color: #00e2af;
  border: 8px solid white;
  border-radius: 50%;
  height: 88px;
  line-height: 88px;
  margin: auto;
  position: relative;
  transition: all 0.5s ease 0s;
  vertical-align: middle;
  width: 88px;
  z-index: 2;
}

.box > .icon:hover > .image { 
    background: #333; 
}

.box > .icon > .image > i { 
    font-size: 36px !important; 
    color: #fff !important; 
}

.box > .icon:hover > .image > i { 
    color: white !important; 
}

.box > .icon > .info {
  background: rgba(0, 0, 0, 0.04) none repeat scroll 0 0;
  border: 1px solid #e0e0e0;
  margin-top: -24px;
  padding: 15px 22px 10px;
  transition: all 0.5s ease 0s;
}
.info:hover {
  box-shadow: 0 0 10px 0 #fff;
}

.box > .icon:hover > .info { 
background: rgba(0, 0, 0, 0.04); 
border-color: #e0e0e0; 
color: white; 
}

.box > .icon > .info > h3.title {
  color: #fff;
  font-family: "Roboto",sans-serif !important;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}   
.box > .icon > .info > p {
  color: #fff;
  font-family: "Roboto",sans-serif !important;
  font-size: 17px;
  line-height: 26px;
  margin: 0;
}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { 
    color: #fff; 
}
.box > .icon > .info > .more a {
    font-family: "Roboto",sans-serif !important; 
    font-size: 12px; 
    color: #fff; 
    line-height: 12px; 
    text-transform: uppercase; 
    text-decoration: none; 
}

.box > .icon:hover > .info > .more > a { 
    color: #fff; 
    padding: 6px 8px; 
    background-color: #63B76C; 
}

.box .space { 
    height: 30px; 
}

.main_text h3 {
  font-family: "Raleway",sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 60px;
  text-align: center;
}

.feature.boxed {
    background: #f8f8f8 none repeat scroll 0 0;
    padding: 32px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
    font-family: 'Raleway', sans-serif;
}
 
.feature.boxed h2 {
 color: #00e2af;
  font-size: 42px;
  font-weight: 300;
  line-height: 48px;
}
.feature.boxed h6{
    letter-spacing: 2px;
    color: #00e2af;
    text-transform: uppercase;
     font-size: 12px;
    font-weight: 700;
    line-height: 24px;
}
.feature.boxed > p {
  font-size: 13px;
  line-height: 24px;
}
.feature.boxed i {
  font-size: 64px;
  font-weight: bold;
  color: #00e2af;
}

footer {
    text-align: left !important;
}

.footer-bg {
  background: rgba(0, 0, 0, 0) url("../images/footer-bg.jpg") repeat scroll 0 0;
  float: left;
  margin-top: 0px;
  width: 100%;
}
#page-footer.footer-bg p {
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    text-align: left;
}
#page-footer .brand-nav {
    padding-left: 8px;
}
#page-footer .socials-btns {
    padding-left: 10px;
}
.footer-bg.inner .copyright {
    border: medium none;
    float: none;
    margin-top: 0;
}
.footer-bg.inner .copyright h4.f-populer {
    margin-top: 0;
    padding: 0;
}
#page-footer.footer-bg .address {
    line-height: 16pt;
    margin-top: 35px;
}
#page-footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #4d4d4d;
    padding: 50px 0 20px;
    position: relative;
}
#page-footer .brand {
    display: block;
    line-height: 60px;
    margin-top: -20px;
}
#footer-nav a, #page-footer a {
    color: #fff;
    font-size: 16px;
    text-shadow: none;
}
#page-footer .socials-btns {
    float: none;
    margin-top: 2px;
}
#page-footer .socials-btns {
    padding-left: 10px;
}
.socials-btns {
    float: right;
}
#page-footer .footer-nav-col {
    padding: 0 15px;
}
.f-populer {
  border-top: 1px solid #ffffff;
  color: #27aae1;
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  padding-top: 10px;
  text-align: center;
}
.f-tags {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}
.f-tags a:hover {
    color: #27aae1;
}
.copy-rit {
    color: #e4f1fe;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}
.soc {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 5px 0 0 10px;
    text-align: left;
}
.soc li {
    display: inline-block;
}
.soc li a {
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    font-family: si !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 38px;
    line-height: 38px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translateZ(0px);
    transition: transform 0.1s ease 0s;
    width: 38px;
    z-index: 1;
}
.soc a:hover {
    color: #ffffff !important;
    transform: translateY(-5px);
    z-index: 2;
}
.soc-icon-last {
    margin: 0 !important;
}
.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter::before {
    content: "a";
}
.soc-buffer {
    background-color: #000000;
}
.soc-buffer::before {
    content: "9";
}
.soc-slideshare {
    background-color: #4ba3a6;
}
.soc-slideshare::before {
    content: "8";
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook::before {
    content: "b";
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin::before {
    content: "j";
}
.soc-pinterest {
    background-color: #c92619;
}
.soc-pinterest::before {
    content: "d";
}
.soc-youtube {
    background-color: #e02a20;
}
.soc-youtube::before {
    content: "r";
}
footer h2 {
    color: #1e86e5;
    font-size: 16pt;
    font-weight: bold;
    margin: 0 0 12px;
    padding-left: 11px;
    text-align: left !important;
}
footer ul {
    margin-left: -27px;
    margin-top: 25px;
}
footer ul li {
    line-height: 30px;
    list-style: outside none none;
}
footer ul li a:hover {
    color: #ffffff !important;
    text-decoration: none;
}
footer ul li a:hover {
    color: #27aae1 !important;
    text-decoration: none;
}
.parallax h2 {
    color: #27aae1;
    margin-top: 30px;
}
.media-heading {
    font-size: 22pt;
}
.tesla-data-labs {
    color: #ffffff !important;
    padding-top: 67px;
}
.tesla {
    display: block;
    font-size: 35pt;
}
.data-labs {
    display: block;
    font-size: 19pt;
    padding-top: 13px;
}
.stack-labs {
    font-size: 30pt;
    margin-top: -28px;
}
.fa-8x {
    font-size: 8em !important;
}
.tags {
    bottom: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.tags li, .tags a {
    float: left;
    font-size: 14px;
    height: 26px;
    line-height: 24px;
    margin: 0 0 10px;
    position: relative;
}
.tags a {
    background: #1e86e5 none repeat scroll 0 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    margin-left: 20px;
    padding: 0 10px 0 12px;
    text-decoration: none;
}
.tags a::before {
    border-color: transparent #1e86e5 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 14px 0;
    content: "";
    float: left;
    height: 0;
    left: -12px;
    position: absolute;
    top: 0;
    width: 0;
}
.tags a::after {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: -1px -1px 2px #004977;
    content: "";
    float: left;
    height: 4px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 4px;
}
.tags a:hover {
    background: #555 none repeat scroll 0 0;
    color: #ffffff !important;
}
.tags a:hover::before {
    border-color: transparent #555 transparent transparent;
    color: #ffffff !important;
}


.mybutton a:hover span, .mybutton button:hover span {
  transform: rotateX(90deg) translateY(-22px);
}
.mybutton a span, .mybutton button span {
  transform-origin: 50% 0 0;
  transform-style: preserve-3d;
  transition: transform 0.3s ease 0s;
}
.mybutton a span, .mybutton button span {
  color: #fff;
  display: inline-block;
  position: relative;
  text-align: center;
}

.mybutton.small a span, .mybutton.small button span {
    padding: 0 10px;
}
.mybutton a span, .mybutton button span, .csstransforms3d .mybutton a:hover span::before, .csstransforms3d .mybutton button:hover span::before {
    background: #1e86e5 none repeat scroll 0 0;
}
.mybutton a span, .mybutton button span {
    color: #fff;
    display: inline-block;
    position: relative;
    text-align: center;
}

#footer-nav a, #page-footer a {
    color: #fff;
    font-size: 16px;
    text-shadow: none;
}
.mybutton.small a, .mybutton.small button {
    font-size: 12px;
    line-height: 35px;
}
.mybutton a, .mybutton button {
    letter-spacing: 0;
    perspective: 1000px;
}
.mybutton a, .mybutton button {
    border: 0 none;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0;
    outline: medium none;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}
.mybutton {
    display: inline-block;
}
.mybutton a span::before, .mybutton button span::before {
  content: attr(data-hover);
  height: 100%;
  left: 0;
  position: absolute;
  top: 100%;
  transform: rotateX(-90deg);
  transform-origin: 50% 0 0;
  transition: background 0.3s ease 0s;
  width: 100%;
}

.service_main h1 {
  font-family: "Raleway",sans-serif;
  font-weight: 200;
  line-height: 50px;
}
.service_main p {
  color: #96cef2;
 font-size: 20px;
  font-family: "Raleway",sans-serif;
  font-weight: 300;
  text-transform: capitalize;
}
.service-content {
  padding: 40px 0 0;
}
.ser_data {
  color: #666;
  display: block;
  font-family: "Roboto",sans-serif;
  font-size: 18pt;
  text-transform: uppercase;
}
.ser_tesla {
  color: #666;
  display: block;
  font-family: "Roboto",sans-serif;
  font-size: 30pt;
  padding-top: 14px;
  text-transform: uppercase;
}
.servive_text:hover {
    opacity: 1;
    transform: scale(1.2);
}
.servive_text {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}
.service_labs h2 {
  font-family: "Raleway",sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: capitalize;
}
.parallax-background-color {
  background: rgba(0, 109, 178, 0.9) none repeat scroll 0 0;
  padding-top: 80px;
}
.service-inner a:hover img {
    opacity: 1;
    transform: scale(1.2);
}
.service-inner a img {
    opacity: 0.7;
    transition: all 0.3s ease 0s;
    width: 70%;
}
.news_inner h3 {
  font-family: "Roboto",sans-serif;
  font-size: 17pt;
  margin: 16px 0 0;
  text-align: center;
}
.news_inner a.action {
  background: #f58221 none repeat scroll 0 0;
  color: #fff;
  font-size: 12pt;
  line-height: 50px;
  padding: 15px 30px;
  text-transform: uppercase;
   font-family: "Raleway",sans-serif;
   transition: all 0.3s ease 0s;
}
.news_inner a.action:hover {
  background: #ea6900 none repeat scroll 0 0;
 text-decoration: none;
}
.news_inner a.action i {
  font-size: 20px;
}
.news_inner {
  background: #fff linear-gradient(30deg, #eee, #fff) repeat scroll 0 0;
  border: 1px solid #ccc;
  margin-bottom: 0;
  margin-top: 24px;
  padding: 36px 20px;
}
.partnrers_section.service_labs {
  margin-bottom: 60px;
  margin-top: 60px;
}
.tech_right p {
  color: #555;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 20px;
}
.tech_right h2 {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 2px 0 24px;
  text-transform: capitalize;
}
.tech_left img {
  margin: 0 auto;
}
.tech_main {
  box-shadow: 0 0 7px 1px #f2f2f2;
  padding: 65px 0 60px;
}
.news_section {
  margin-bottom: 64px;
}
.newsletter h3 {
  text-align: center;
}

/* --------------------- start programs page css ------------------------ */
.circle_outer {
  border-radius: 165px;
  height: 230px;
  padding: 15px;
  transition: all 0.2s ease 0.1s;
  width: 230px;
}
.prog_icon:hover.blue_prog .circle_outer {
  border: 15px solid #1e86e5;
  padding: 0;
}
.blue_prog h4 {
  color: #1e86e5;
}
.prog_icon:hover.green_prog .circle_outer {
  border: 15px solid #00e2af;
  padding: 0;
}
.green_prog h4 {
  color: #00e2af;
}
.prog_icon:hover.orange_prog .circle_outer {
  border: 15px solid #f58221;
  padding: 0;
}
.orange_prog h4 {
  color: #f58221;
}
.circle_inner {
  border-radius: 150px;
  height: 200px;
  padding: 15px;
  width: 200px;
}
.circle_outer, .circle_inner {
  border: 1px solid #d0d0d0;
  margin: 0 auto;
  text-align: center;
}
.circle_inner img {
  margin: 20px auto 0;
  width: 70%;
}
.program_main h4 {
  font-family: "Roboto",sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 14px;
  text-transform: capitalize;
}
.program_main p {
  color: #333;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
.program_main {
  text-align: center;
}
.prog_img {
  background: rgba(0, 0, 0, 0) url("../images/prog_image.jpg") no-repeat scroll 0 0 / cover ;
  height: 400px;
  position: relative;
}
.overlay_bg {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.container.next_gen {
  display: table;
  height: 100%;
  position: relative;
  text-align: center;
  z-index: 9;
}
.next_gen h1 {
  color: #fff;
  display: table-cell;
  font-family: "Raleway",sans-serif;
  font-size: 42px;
  margin: 0 0 24px;
  text-transform: uppercase;
  vertical-align: middle;
}
.program_main a {
  border-color: transparent;
  border-radius: 23px;
  font-family: "Raleway",sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  padding: 10px 35px;
  transition: all 0.3s ease 0s;
}
.program_main a:hover {
  border-color: transparent;
}
.blue_prog a:hover {
 background: #0168c1;
}
.blue_prog a {
  background: #1e86e5;
}
.green_prog a:hover {
  background: #00ce9e;
}
.green_prog a {
  background: #00e2af;
}
.orange_prog a:hover {
 background: #ea6900;
}
.orange_prog a {
  background: #f58221;
}
.prog_icon {
  margin-bottom: 40px;
}
.program_section {
  padding: 50px 0 0;
}
.pro_testimonial .container {
  position: relative;
  z-index: 99999;
  text-align: center;
  color: #fff;
}
.pro_testimonial h5 {
  font-family: "Raleway",sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
}
.pro_testimonial h3 {
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0;
}
.pro_testimonial p {
  font-family: "Raleway",sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.pro_testimonial {
  background: rgba(0, 0, 0, 0) url("../images/service-bg.jpg") no-repeat scroll 0 0 / cover ;
  height: 440px;
  margin: 15px 0 -1px;
  padding: 100px 0 0;
  position: relative;
}
.pro_testimonial .overlay_bg {
  background: rgba(30, 134, 226, 0.85) none repeat scroll 0 0;
}






.container.training_btn {
  position: relative;
  text-align: center;
  z-index: 9;
}
.training_btn img {
  margin: 60px auto 0;
  max-height: 120px;
  text-align: center;
}
.training_btn h1 {
  color: #fff;
  font-family: "Raleway",sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
}
.training_btn .btn {
  border-radius: 23px;
  font-family: "Raleway",sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  margin-right: 25px;
  margin-top: 30px;
  padding: 10px 34px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.btn.btn_apply {
  background-color: #f58221;
  color: #fff;
}
.btn.btn_apply:hover {
  color: #fff;
  background-color: #ea6900;
}
.btn.btn_reach:hover {
  background-color: #efefef;
  color: #1e86e5;
}
.btn.btn_reach {
  background-color: #fff;
  color: #1e86e5;
}
/* ---------------------end  programs page css ------------------------ */

/* --------------------start training pages css ------------------------ */

.training_text p {
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 35px;
  text-align: justify;
}
.training_text span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}
.training_detail {
  margin-bottom: 70px;
  margin-top: 40px;
}
.data_inner .parallax-box a {
  background: transparent none repeat scroll 0 0;
  padding: 20px 0;
  text-decoration: none;
}
.data_inner .parallax-box h4 {
  color: #222;
}
.data_inner .parallax-box p {
  line-height: 22px;
}
.data_inner{
 transition: all 0.3s ease 0s;
}
.data_inner:hover {
  background: #1e86e5 none repeat scroll 0 0;
}
.data_inner:hover h4 {
  color: #fff;
}
.data_inner:hover i {
  color: #fff;
}
.data_inner:hover p {
  color: #96cef2;
}
.training_data {
  margin-bottom: 40px;
  margin-top: 40px;
}
.pricing-5-col .pricing-box {

    width: 20%;
}
.pricing-box {
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}
.pricing-box ul {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    margin: 0;
    padding: 0;
}
.pricing-box.last ul {
    border-right: 1px solid #eee;
}
.pricing-box li {
    border-bottom: 1px solid #eee;
    list-style: outside none none;
    margin: 0;
    padding: 15px 0;
}
.pricing-box li h1 {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}
.pricing-box li.title-row {
    padding: 15px 0;
}
.pricing-box li.price-row {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 15px 0;
}
.pricing-box li.price-row span {
    display: block;
    font-weight: 600;
}
.pricing-box li.btn-row {
    background: #f5f5f5 none repeat scroll 0 0;
}
.pricing-featured {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    margin-top: -25px;
    position: relative;
    z-index: 5;
}
.pricing-box .pricing-featured li.price-row h1 {
    color: #fff;
}
.training_items {
  text-align: center;
}
.row.training_items .span_text {
  color: #1e86e5;
}
.training_items .title-row h4{
  font-family: "Raleway",sans-serif;
}
.curriculum {
  font-size: 14pt;
}
.content-body {
  color: #777777;
  font-weight: 300;
  font-family: "Raleway",sans-serif;
}
/* ---------------------end training pages css------------------------ */

/* --------------------start program pages css ------------------------ */

.content-body h3 {
    font-size: 28pt;
}
.content-body h3, .content-body h4 {
    color: #000000;
    font-weight: 500;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.content-body p {
    font-size: 14pt;
    padding: 10px 0;
    text-align: justify;
}
.curriculum ul li {
  font-weight: bold;
  line-height: 30px;
  list-style: unset;
  margin-bottom: 10px;
}
.curriculum ul li ul {
  font-weight: normal;
  margin-left: 20px;
  padding: 0;
}
.curriculum ul li ul li {
  color: #777;
  font-weight: normal;
}

.content_main {
  margin: 70px 0 20px;
}
.tab-pane ul li {
  line-height: 30px;
  list-style: unset;
}
.content-body ul {
  padding: 0;
}




















.about-prog > p {
  color: #777;
  font-size: 14pt;
  line-height: 38px;
  font-family: "Raleway",sans-serif;
}
.scroll-prog h3 {
  font-family: "Raleway",sans-serif;
  font-size: 28pt;
  font-weight: 500;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.curriculumBlocks > li a:hover {
  text-decoration: none;
}
.curriculumBlocks  li a:focus {
   text-decoration: none;
}
#stickyNavContainer .col-md-3.affix.affix-bottom {
    bottom: 60px;
    position: absolute;
    top: auto;
}
#stickyNavContainer .col-md-3.affix {
    position: fixed;
    top: 80px;
}
#stickyNavContainer .col-md-3 {
    position: absolute;
}
.stickyNav {
    width: 280px !important;
    z-index: 1;
}
.stickyNav .nav {
  border-top: 1px solid #c0c0c0;
}
.stickyNav.affix ul {
  border-top: medium none;
}
.stickyNav ul li a {
  color: #333;
  font-size: 15px;
  padding: 0;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.stickyNav .nav > li > a:focus, .stickyNav .nav > li > a:hover {
  background-color: transparent;
  font-weight: bold;
}
.curriculumBlocks li a:hover {
  background: #ea6900 none repeat scroll 0 0;
}
.space {
  padding-top: 70px;
}
.stickyNav ul li.active {
    border-left: 3px solid #1e86e5;
}
.stickyNav ul li {
  border-bottom: 1px solid #c0c0c0;
  padding: 15px;
}
.curriculumBlocks > li a {
  background-color: #f58221;
  color: white;
  display: block;
  float: left;
  font-size: 50px;
  height: 75px;
  line-height: 66px;
  margin-right: 20px;
  text-align: center;
  width: 75px;
  transition: all 0.3s ease 0s;
}
.curriculumBlocks > li, .faqBlocks li {
  background: white none repeat scroll 0 0;
  border: 6px solid #dedede;
  margin: 20px 0;
}
.curriculumBlocks > li .content, .faqBlocks li .content {
    border-top: 1px solid #dedede;
    display: none;
    padding: 20px;
}
.curriculumBlocks > li > p {
  font-size: 14pt;
  font-weight: bold;
  height: 65px;
  line-height: 22px;
  padding-top: 20px;
}
.main_headline .tab-pane p {
 color: #777;
  font-size: 14pt;
  line-height: 38px;
  font-family: "Raleway",sans-serif;
}
.main_headline .tab-pane ul li {
  font-size: 16px;
  margin-top: 10px;
}
.main_headline .content > p {
  color: #555;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.next_gen > h4 {
  color: #f58221;
  display: table;
  font-size: 30px;
  font-weight: bold;
  height: 100%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 33%;
  width: 100%;
}
/* --------------------end program pages css ------------------------ */



/* -------------------- start apply form css -------------------- */
.apply_page blockquote {
  background-color: white;
  border: 6px solid #dedede;
  margin: 10px 0 30px;
  padding: 30px;
  text-align: center;
}
.apply_page blockquote p {
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
.apply_ready {
  font-size: 15px;
  font-weight: 500;
  font-family: "Raleway",sans-serif;
}
.text_name {
    width: 50%;
}
.text_name {
    display: inline-block;
    margin-right: -4px;
    padding-right: 16px;
    vertical-align: top;
}
.form_inner > ul {
  margin: 0;
  padding: 0;
}
.form_inner {
  margin-top: 24px;
}
.apply_headings {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Raleway",sans-serif;
}

.form_inner ul li {
    margin-top: 16px;
    padding-top: 0;
    padding-right: 16px;
}
.text_name > input {
  padding: 5px 4px;
  width: 100%;
}
.apply_input {
  margin-top: 8px;
}
.text_name label {
    margin: 1px 0 0px 1px;
     display: block;
    font-size: 80%;
    letter-spacing: 0.5pt;
    white-space: nowrap;
    font-family: "Raleway",sans-serif;
}
.apply_input.medium input {
  padding: 5px 4px;
  width: 48.5%;
}
.radio_ul {
  margin: 6px 0;
  padding: 0;
}
.form_inner .apply_radio .radio_ul li {
  margin: 0 0 16px;
  padding: 0;
}

.radio_ul li label {
    padding-left: 5px;
    padding-top: 2px;
     margin: 2px 0 0 5px;
     display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    max-width: 85%;
    padding: 0;
    vertical-align: middle;
    white-space: normal;
    width: auto;
    font-family: "Raleway",sans-serif;
    font-weight: normal;
}
.radio_ul li input[type="radio"]{
  display: inline-block;
    margin-left: 1px;
    vertical-align: middle;
}
.apply_input.apply_checkbox ul {
  margin: 6px 0;
  padding: 0;
}
.apply_input.apply_checkbox ul li label {
  display: inline-block;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  margin: -9px 0 0 5px;
  max-width: 85%;
  padding: 0;
  vertical-align: middle;
  white-space: normal;
  width: auto;
}
.apply_checkbox  li input[type="checkbox"]:checked + label, .apply_radio li input[type="radio"]:checked + label {
  font-weight: 700;
}
.form_submitt input[type="submit"] {
  background-color: #f58221;
  border: 0 none;
  border-radius: 30px;
  color: white;
  font-family: "Raleway",sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
  padding: 10px 20px;
  transition: all 0.2s ease 0s;
}
.form_submitt input[type="submit"]:hover{
  background-color:#ea6900 ;
}
.apply-form {
  padding-bottom: 70px;
}
.apply_icon {
  color: #790000;
  font-size: 30px;
  position: relative;
  right: -2px;
  top: 8px;
}
/* -------------------- end apply form css -------------------- */

/* -------------------- start certification page css -------------------- */

.training_btn.certification {
  padding-top: 5%;
}
.training_btn.certification > p {
  color: #eee;
  font-size: 21px;
  margin-top: 32px;
  font-family: "Raleway",sans-serif;
}
.certifications_main h2 {
  color: #000;
  font-size: 33px;
  text-transform: capitalize;
  font-family: "Raleway",sans-serif;
}
.certifications_main p {
  font-size: 15px;
  line-height: 28px;
  font-family: "Raleway",sans-serif;
}
.certifications_main .row {
    margin-top: 30px;
}
.certifcate-section {
  margin: 30px 0 40px;
}
/* -------------------- end certification page css -------------------- */

/* -------------------- start about us page css -------------------- */
h2.about_heading  {
  font-family: "Roboto",sans-serif;
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}
.about_us p {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 20px;
  font-family: "Raleway",sans-serif;
}
.about_content p {
  font-family: "Raleway",sans-serif;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.about_content a {
  background: #f58221 none repeat scroll 0 0;
  border: medium none transparent;
  border-radius: 50px;
  color: #fff;
  margin: 13px 0 0 5px;
  padding: 13px 20px;
}
.about_content a:hover {
  background: #ea6900 none repeat scroll 0 0;
}
.about_content {
  margin: 0 0 -15px;
  width: 100%;
  background-color: #efefef;
  padding: 50px 0;
}
.about_us {
  margin: 36px 0 15px;
}

/* -------------------- end about us page css -------------------- */

/* -------------------- start landing page css -------------------- */
.video_form {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e86e5+0,1e86e5+25,1e86e5+51,1e86e5+51,1e86e5+59,2989d8+86,1e86e5+96 */
background: rgb(125,185,232); /* Old browsers */
background: -moz-linear-gradient(top, rgba(125,185,232,1) 0%, rgba(30,134,229,1) 0%, rgba(30,134,229,1) 25%, rgba(30,134,229,1) 51%, rgba(30,134,229,1) 51%, rgba(30,134,229,1) 59%, rgba(41,137,216,1) 86%, rgba(30,134,229,1) 96%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(30,134,229,1) 0%,rgba(30,134,229,1) 25%,rgba(30,134,229,1) 51%,rgba(30,134,229,1) 51%,rgba(30,134,229,1) 59%,rgba(41,137,216,1) 86%,rgba(30,134,229,1) 96%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(30,134,229,1) 0%,rgba(30,134,229,1) 25%,rgba(30,134,229,1) 51%,rgba(30,134,229,1) 51%,rgba(30,134,229,1) 59%,rgba(41,137,216,1) 86%,rgba(30,134,229,1) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e86e5',GradientType=0 ); /* IE6-9 */
      float: right;
    height: 500px;
    margin: -450px auto 0;
    padding: 40px;
    position: relative;
    right: 5%;
    width: 40%;
    z-index: 9;
}
.landing_form .input-group input {
  background: #68a9e2 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  box-shadow: 0 0;
  color: #fff;
  font-size: 20px;
  height: 52px;
  text-transform: capitalize;
  font-family: "Roboto",sans-serif;
}
.landing_form p {
  color: #fff;
  font-size: 14px;
  margin: 15px 0 0;
  font-family: "Roboto",sans-serif;
}
.landing_form .form-control::-moz-placeholder {
   color: #fff;
}
.landing_form .form-control::-webkit-input-placeholder{
   color: #fff;
}
.landing_form:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 50%;
  position: absolute;
  pointer-events: none;
}
.landing_form:before {
  border: solid transparent;
  content: " ";
  height: 0;
  position: absolute;
  pointer-events: none;
  right: 50%;
  top: 100%;
  width: 50%;
}
.landing_form:after {
  border-color: rgba(30, 134, 229, 0);
  border-top-color: #1e86e5;
  border-width: 20px;
}
.landing_form:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #1e86e5;
  border-width: 20px;
  margin-left: -36px;
}
.video_form .btn {
  background-color: #f58221;
  border: medium none transparent;
  border-radius: 23px;
  color: #fff;
  font-family: "Raleway",sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 23px;
  margin-top: 15px;
  padding: 10px 34px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.video_form .btn.btn-default i {
  font-size: 22px;
  line-height: 32px;
  margin: 0 0 0 14px;
}
.video_form  .btn:hover {
  background-color: #ea6900;
  color: #fff;
}
.landing_form {
  text-align: center;
}
.landing_form .input-group {
  background: #68a9e2 none repeat scroll 0 0;
  margin-bottom: 15px;
}
.landing_form .input-group-addon {
  background: transparent none repeat scroll 0 0;
  border: medium none transparent;
  color: #fff;
  font-size: 22px;
}
.footer-copy h6 {
  font-size: 15px;
}
.foot_nav ul {
  padding: 0;
  text-align: right;
}
.foot_nav ul li {
  display: inline-block;
  padding: 7px 20px 6px 0;
}
.foot_nav a {
  color: #333;
  font-size: 15px;
  text-transform: capitalize;
}
.navbar.navbar-inverse.nav_header.landing_header {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e86e5+0,1e86e5+1,2989d8+13,2989d8+13,2989d8+13,1e86e5+39,2f8fe2+53,2f8fe2+78,1e86e5+84,1e86e5+98,2989d8+100,207cca+100,7db9e8+100,1e86e5+100 */
background: rgb(30,134,229); /* Old browsers */
background: -moz-linear-gradient(left, rgba(30,134,229,1) 0%, rgba(30,134,229,1) 1%, rgba(41,137,216,1) 13%, rgba(41,137,216,1) 13%, rgba(41,137,216,1) 13%, rgba(30,134,229,1) 39%, rgba(47,143,226,1) 53%, rgba(47,143,226,1) 78%, rgba(30,134,229,1) 84%, rgba(30,134,229,1) 98%, rgba(41,137,216,1) 100%, rgba(32,124,202,1) 100%, rgba(125,185,232,1) 100%, rgba(30,134,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(30,134,229,1) 0%,rgba(30,134,229,1) 1%,rgba(41,137,216,1) 13%,rgba(41,137,216,1) 13%,rgba(41,137,216,1) 13%,rgba(30,134,229,1) 39%,rgba(47,143,226,1) 53%,rgba(47,143,226,1) 78%,rgba(30,134,229,1) 84%,rgba(30,134,229,1) 98%,rgba(41,137,216,1) 100%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%,rgba(30,134,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(30,134,229,1) 0%,rgba(30,134,229,1) 1%,rgba(41,137,216,1) 13%,rgba(41,137,216,1) 13%,rgba(41,137,216,1) 13%,rgba(30,134,229,1) 39%,rgba(47,143,226,1) 53%,rgba(47,143,226,1) 78%,rgba(30,134,229,1) 84%,rgba(30,134,229,1) 98%,rgba(41,137,216,1) 100%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%,rgba(30,134,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e86e5', endColorstr='#1e86e5',GradientType=1 ); /* IE6-9 */
 height: 93px;
    left: 0;
    margin: 0;
    padding: 10px 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}
.stack_margin {
  margin: 90px 0 0;
}
.navbar.navbar-inverse.nav_header.sticky.fixed.landing_header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e86e5+0,1e86e5+1,2989d8+13,2989d8+13,2989d8+13,1e86e5+39,2f8fe2+53,2f8fe2+78,1e86e5+84,1e86e5+98,2989d8+100,207cca+100,7db9e8+100,1e86e5+100 */
background: rgb(30,134,229); /* Old browsers */
background: -moz-linear-gradient(left, rgba(30,134,229,1) 0%, rgba(30,134,229,1) 1%, rgba(41,137,216,1) 13%, rgba(41,137,216,1) 13%, rgba(41,137,216,1) 13%, rgba(30,134,229,1) 39%, rgba(47,143,226,1) 53%, rgba(47,143,226,1) 78%, rgba(30,134,229,1) 84%, rgba(30,134,229,1) 98%, rgba(41,137,216,1) 100%, rgba(32,124,202,1) 100%, rgba(125,185,232,1) 100%, rgba(30,134,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(30,134,229,1) 0%,rgba(30,134,229,1) 1%,rgba(41,137,216,1) 13%,rgba(41,137,216,1) 13%,rgba(41,137,216,1) 13%,rgba(30,134,229,1) 39%,rgba(47,143,226,1) 53%,rgba(47,143,226,1) 78%,rgba(30,134,229,1) 84%,rgba(30,134,229,1) 98%,rgba(41,137,216,1) 100%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%,rgba(30,134,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(30,134,229,1) 0%,rgba(30,134,229,1) 1%,rgba(41,137,216,1) 13%,rgba(41,137,216,1) 13%,rgba(41,137,216,1) 13%,rgba(30,134,229,1) 39%,rgba(47,143,226,1) 53%,rgba(47,143,226,1) 78%,rgba(30,134,229,1) 84%,rgba(30,134,229,1) 98%,rgba(41,137,216,1) 100%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%,rgba(30,134,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e86e5', endColorstr='#1e86e5',GradientType=1 ); /* IE6-9 */
}
.header-mobile {
  float: right;
  width: 40%;
}
.header-mobile > h4 {
  color: #fff;
  font-size: 25px;
  margin-right: 30px;
  margin-top: 26px;
  text-align: right;
  font-family: "Roboto",sans-serif;
}
.header-mobile i {
  margin: 0 11px 0 0;
  position: relative;
  top: 2px;
}
/* -------------------- end landing page css -------------------- */
@media(max-width: 480px){

.span_text::before {
    display: none;
}

.span_text::after {
    display: none;
}

.span_text {
  display: block;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}
.courses_inner.text-center > h1 {
  font-size: 36px;
}
.colmun1, .colmun2, .colmun3 {
    float: left;
    width: 100%;
}
.colmun2 {
    margin: 0;
}
.every {
  margin-top: -10%;
}
.tags li, .tags a {
  float: none;
}
}
@media(max-width: 767px){
.navbar-header.navmain {
    float: none;
    width: 100%;
}
.nav.navbar-nav.navbar-right.header-right li {
  display: block;
  text-align: center;
}
.nav.navbar-nav.navbar-right.header-right a {
  line-height: 18px;
}
.navbar-header.navmain .navbar-toggle {
  background-color: #337ab7;
}
.colmun_left {
  padding-top: 0;
  width: 100%;
}
.column-right {
  width: 100%;
}
.copyright.hidden-tablet {
  margin: 90px 0 0;
}
.tags {
  position: relative;
}
.tech_right {
  margin-top: 20px;
  text-align: center;
}
.news_section {
  padding: 12px 20px 30px;
  text-align: center;
}
.news_inner h3 {
  font-size: 14pt;
  margin: 16px 0;
}
.dropdown-list {
  width: 100%;
  position: relative;
}
.nav_header .navbar-collapse {
  background: #fff none repeat scroll 0 0;
  left: 0;
  position: absolute;
  right: 15px;
  z-index: 99999;
}
.nav.navbar-nav.navbar-right.header-right li:hover {
  background: #1e86e5 none repeat scroll 0 0;
  border: medium none;
}
.nav.navbar-nav.navbar-right.header-right li:hover a {
 color: #fff;
}
.dropdown-list a {
  color: #666 !important;
}
.nav.navbar-nav.navbar-right.header-right > li:hover:last-child {
  background: transparent none repeat scroll 0 0;
}
.courses_section {
  padding-bottom: 10px;
  padding-top: 30px;
}
.stickyNav {
  display: none;
}
.training_btn img {
  margin: 20px auto 0;
  max-height: 90px;
}
.training_btn h1 {
  font-size: 28px;
}
.space {
  padding-top: 15px;
}
.curriculumBlocks {
  margin: 0;
  padding: 0;
}
.curriculumBlocks > li, .faqBlocks li {
  float: left;
  margin: 10px 0;
  width: 100%;
}
.curriculumBlocks > li a {
  display: initial;
  float: left;
  font-size: 30px;
  height: auto;
  line-height: normal;
  margin-right: 0;
  width: 100%;
}
.curriculumBlocks > li > p {
  float: right;
  font-size: 14pt;
  height: auto;
  line-height: 24px;
  margin: 0;
  padding: 10px;
  width: 100%;
}
.curriculumBlocks > li .content, .faqBlocks li .content {
  border-top: 1px solid #dedede;
  float: left;
  padding: 10px;
}
}
@media(max-width: 991px){


}
@media(max-width: 1200px){


}
@media (min-width: 481px) and (max-width: 767px){
 .tags li, .tags a {
  float: left;
}
.copyright.hidden-tablet {
  margin: 30px 0 0;
}
.contactus {
  margin: 30px 0 12px;
  text-align: center !important;
}
#page-footer.footer-bg .address {
  margin-top: 8px;
  width: 50%;
  float: left;
}
.header-img {
  width: 36%;
}

.span_text::before {
    left: 0;
    top: 24px;
    width: 70px;
}
.span_text::after {
    right: 0;
    top: 24px;
    width: 70px;
}
.span_text {
    display: block;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 51px;
    text-align: center;
}
.courses_inner.text-center > h1 {
  font-size: 38px;
}
.every {
    margin-top: 0;
}
.courses_main {
  margin-top: 10px;
}
.colmun1, .colmun2, .colmun3 {
    float: left;
    width: 100%;
}
.colmun2 {
    margin: 0;
}
}

@media (min-width: 768px) and (max-width: 991px){
  .navbar-header.navmain {
  width: 20%;
}
.header-img {
  width: 100%;
}

.nav.navbar-nav.navbar-right.header-right a {
  font-size: 12px;
  padding: 7px;
}
.nav.navbar-nav.navbar-right.header-right a.enroll {
  margin: -2px 0 0;
  padding: 8px 11px;
}
.colmun1, .colmun2, .colmun3 {
    float: left;
    width: 47%;
}
.colmun2 {
    margin: 0 2px 21px 20px;
}
.colmun3 {
  width: 100%;
}
.colmun3 .text_div {
  float: left;
  margin: 0 3% 0 0;
  width: 47%;
}
.every {
    margin-top: -10%;
}
.colmun_left {
  width: 100%;
}
.column-right {
  width: 100%;
}

.span_text::before {
    left: 0;
    width: 120px;
}

.span_text::after {
    right: 0;
    width: 120px;
} 
.span_text {
    display: block;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 51px;
    text-align: center;
}
.courses_inner.text-center > h1 {
  font-size: 58px;
}
.feature.boxed {
  padding: 44px;
}
.tech_right h2 {
  font-size: 23px;
  margin: 2px 0 10px;
}
.tech_right p {
  font-size: 14px;
  margin-bottom: 5px;
}
footer h2 {
  font-size: 14pt;
}
.stickyNav {
  width: 196px !important;
}
#stickyNavContainer .col-md-3.affix {
  top: 110px;
}
.fixed .header-right {
  margin-top: 7px !important;
}
}
@media (min-width: 992px) and (max-width: 1200px){
.header-img {
  width: 100%;
}
.nav.navbar-nav.navbar-right.header-right a {
  font-size: 14px;
  padding: 15px;
}
.colmun2 {
  margin: 0 6px;
}
  .navbar-header.navmain {
  width: 20%;
}
}
@media (min-width: 1075px) and (max-width: 1280px){
.nav.navbar-nav.navbar-right.header-right a {
  padding: 20px;
}
}
@media (min-width: 1201px) and (max-width: 1280px){
  .nav.navbar-nav.navbar-right.header-right a {
  padding: 15px;
}
  }