<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stack Data Labs are Immersive Training Providers in Cloud Computing,BigData & IoT .Organizes Meetups as well as Workshop.Join & Get Certified from experts.">
    <meta name="author" content="">

    <title>Stack Data Labs - Training Provider in BigData & DataScience</title>
    <% include ../partials/head %>
</head>

<body>
        <% include ../partials/header %>
     <section class="prog_img">
            <div class="container next_gen">
                <h1>ABOUT STACK LABS</h1>
            </div>
            <div class="overlay_bg"></div>
     </section>

    <section class="about_us">
        <div class="container">
            <h2 class="about_heading ">The Stack Labs Professional Team</h2>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                <p>If you step into our community, you’ll immediately notice how we embrace our&nbsp;<a href="#">core values</a>. You’ll feel welcomed because we put people first. We hope you fall in love with our culture of trust and authenticity&nbsp;that&nbsp;has allowed us to attract a truly outstanding team of influencers and innovators with an array of experience, knowledge, and integrity.</p>

                <p>The programs you see drive expertise in a curated suite of technologies and applied concepts, each selected for their workplace utility and relevance to solving the world’s most important problems.</p>

                <p>You’ll learn about something new, then immediately reinforce that knowledge by using it to build and test live&nbsp;projects with real companies. Each lesson builds up to the next enabling you to create a strong foundation of confidence and skills moving forward. And as you&nbsp;grow into an&nbsp;incredible problem solver&nbsp;with a robust technical and professional mastery, you’ll become more ambitious with your goals.</p>

                <p>When you look for support, you’ll always see one of us waiting to lend our time, our expertise, our friendship. And as time progresses, you’ll realize five years later, ten years later, and for the rest of your life that we will continue to be there.</p>

                <p>We are not a bootcamp. We are a community.</p>

                <p>If you’re looking for the opportunity to learn the most in-demand skills, and then have the network that can help you accomplish your biggest goals – you’ve found it.</p>

                <p>Three months to make connections who will ensure you never again face career problems alone.</p>

                <p>Three months to realize the skills to scale a startup from five employees to five hundred.</p>

                <p>Three months to change the course of your life.</p>

                <p>Why not turn your passion into your profession?</p>

                <p>Why not turn one day… into day one?</p>

                <p>Your new career awaits. <a href="#">Start now.</a></p>

                <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about_content">
            <div class="container">

                <div class="row">

                    <div class="col-md-10 col-md-offset-1">
                     <h2 class="about_heading ">Founded by StackData Labs</h2>
                    <p>As Silicon Valley-based seed-stage venture capitalists, we at GrowthX have seen first-hand the problem of founders and startups not being able to find qualified candidates to take on ambitious roles in the technology industry. We created GrowthX Academy to provide students with the crucial skills most startups need, along with industry connections to build a long-term, rewarding career in this exciting and dynamic field.</p>

                    <p><a class="btn btn-lg btn-primary" href="#" target="_blank">Learn More at StackDataLabs.com</a></p>

                    </div>

                </div>

            </div>
    </section>
   <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
