<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stack Data Labs Chandigarh, Reviews from old Students. Just have a look!">
    <meta name="author" content="">

    <title>Stack Data Labs - Alumini</title>
    <% include ../partials/head %>
</head>

<body>
        <% include ../partials/header %>
     <section id="feature"  class="prog_img">
            <div class="container training_btn certification career_text">
                <h5>Meet our</h5>
                <h1>Alumni</h1>
                <p>Today IT Industry Era having lots of Jobs for the Skilled Professionals in old and latest Technologies. Millions of Jobs will produce by Cloud Computing, BigData and Internet of Things Industry.  </p>
            </div>
            <div class="overlay_bg"></div>
     </section>

     <section class="alumini_page">
            <div class="container-fluid">
                <div class="row alumin_inner">
                    <div class="col-md-4 col-sm-4 alumini_text">
                        <h1>DATA SCIENCE BOOTCAMP <strong>ALUMNI</strong></h1>
                    </div>
                    <div class="col-md-4 col-sm-4 no-padding">
                        <img src="/images/alumini_class.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-md-4 col-sm-4 no-padding">
                        <img src="/images/alumini_hall.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="row alumini_hegiht">
                    <div class="col-md-4 alumini_background">
                            <div class="col-md-12 alumini_story">
                                <div class="col-md-3">
                                    <div class="alumini-prize">
                                        <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h5>FEATURED ALUMNI STORY:</h5>
                                    <h4><strong>Cossette</strong></h4>
                                </div>
                            </div>  
                             <div class="col-md-12 alumini_name">
                                <h5>When came to the oorganization with 10 years of healthcare experience and a desire to integrate that with rigorous data science training. he's now working on data projects that directly impact patients' healthcare.</h5> 
                                <a href="#">read story here -&gt;</a> 
                            </div> 
                    </div>
                    <div class="col-md-8 alumin_explain">
                        <div class="alumini_text">
                        <p>This is the best educational experience I've ever had. I actually learned things from people here, not just me googling around to teach myself to pass a test. People care here, and not just a few, but the entirety of the cohort, the instructors and the students, I don't think I've ever experienced something where the whole organization cares about you to the degree that StackData Labs does.</p>
                        <h5>- MATT KERRIGAN, <em>Data Scientist at Bootler</em></h5>
                        </div>
                        <div class="row explain_inner">
                            <div class="col-md-4 col-xs-4">
                                <h2>7</h2>
                                <h4>COUNTRIES</h4>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <h2>169</h2>
                                <h4>Grads</h4>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <h2>15</h2>
                                <h4>cities</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row alumini_data">
                    <div class="col-md-9">
                        <div class="col-md-6 col-sm-6 alumini_margin">
                            <div class="col-md-3">
                                <div class="alumini-prize">
                                    <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                                 </div>
                            </div>
                            <div class="col-md-9 no-padding alumini_all">
                                <p><strong>GREG FRIEDMAN</strong> - <em>Data Science Engineer, VaynerMedia</em></p>
                                <p> All of the instructors are really qualified and are really great people to be around. The knowledge difference is night and day. All that remains to be seen is how long it will take me to become employed. If that number is &lt; 2 months, then I will look back on this as one of the best decisions of my life. No matter what, I thoroughly enjoyed my time at Metis.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 alumini_margin">
                            <div class="col-md-3">
                                <div class="alumini-prize">
                                    <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                                 </div>
                            </div>
                            <div class="col-md-9 no-padding alumini_all">
                                <p><strong>GREG FRIEDMAN</strong> - <em>Data Science Engineer, VaynerMedia</em></p>
                                <p> All of the instructors are really qualified and are really great people to be around. The knowledge difference is night and day. All that remains to be seen is how long it will take me to become employed. If that number is &lt; 2 months, then I will look back on this as one of the best decisions of my life. No matter what, I thoroughly enjoyed my time at Metis.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 alumini_margin">
                            <div class="col-md-3">
                                <div class="alumini-prize">
                                    <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                                 </div>
                            </div>
                            <div class="col-md-9 no-padding alumini_all">
                                <p><strong>GREG FRIEDMAN</strong> - <em>Data Science Engineer, VaynerMedia</em></p>
                                <p> All of the instructors are really qualified and are really great people to be around. The knowledge difference is night and day. All that remains to be seen is how long it will take me to become employed. If that number is &lt; 2 months, then I will look back on this as one of the best decisions of my life. No matter what, I thoroughly enjoyed my time at Metis.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 alumini_margin">
                            <div class="col-md-3">
                                <div class="alumini-prize">
                                    <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                                 </div>
                            </div>
                            <div class="col-md-9 no-padding alumini_all">
                                <p><strong>GREG FRIEDMAN</strong> - <em>Data Science Engineer, VaynerMedia</em></p>
                                <p> All of the instructors are really qualified and are really great people to be around. The knowledge difference is night and day. All that remains to be seen is how long it will take me to become employed. If that number is &lt; 2 months, then I will look back on this as one of the best decisions of my life. No matter what, I thoroughly enjoyed my time at Metis.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 alumini_margin">
                            <div class="col-md-3">
                                <div class="alumini-prize">
                                    <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                                 </div>
                            </div>
                            <div class="col-md-9 no-padding alumini_all">
                                <p><strong>GREG FRIEDMAN</strong> - <em>Data Science Engineer, VaynerMedia</em></p>
                                <p> All of the instructors are really qualified and are really great people to be around. The knowledge difference is night and day. All that remains to be seen is how long it will take me to become employed. If that number is &lt; 2 months, then I will look back on this as one of the best decisions of my life. No matter what, I thoroughly enjoyed my time at Metis.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 alumini_margin">
                            <div class="col-md-3">
                                <div class="alumini-prize">
                                    <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                                 </div>
                            </div>
                            <div class="col-md-9 no-padding alumini_all">
                                <p><strong>GREG FRIEDMAN</strong> - <em>Data Science Engineer, VaynerMedia</em></p>
                                <p> All of the instructors are really qualified and are really great people to be around. The knowledge difference is night and day. All that remains to be seen is how long it will take me to become employed. If that number is &lt; 2 months, then I will look back on this as one of the best decisions of my life. No matter what, I thoroughly enjoyed my time at Metis.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row feature-alumini">
                    <div class="col-md-7 feature-left">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 no-padding feature_img">
                                <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                                <div class="feature-overlay">
                                    <h5>JAMIE NAME</h5>
                                    <p><em>Data Scientist,<br> Buzzfeed</em></p>
                                    <p><a href="#">view final project -&gt; </a></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 no-padding feature_img">
                                <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                                <div class="feature-overlay">
                                    <h5>JAMIE NAME</h5>
                                    <p><em>Data Scientist,<br> Buzzfeed</em></p>
                                    <p><a href="#">view final project -&gt; </a></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 no-padding feature_img">
                                <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                                <div class="feature-overlay">
                                    <h5>JAMIE NAME</h5>
                                    <p><em>Data Scientist,<br> Buzzfeed</em></p>
                                    <p><a href="#">view final project -&gt; </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row feature_lightbg">
                            <h4><strong>FEATURED BOOTCAMP PROJECTS</strong></h4>
                            <div class="project-feature">
                              <h5><strong>Jeff Wen </strong><span class="alumini_font">- Data Scientist,  Tesla</span></h5>
                              <p><strong>Project: Visaurant</strong></p>
                              <p>Visaurant is a reimagination of the way users search through images that they are interested in. One prime use case for Visaurant is in sorting and filtering through food images (hence VIS -ual rest- AURANT).</p>
                              <a href="#">view final project -&gt;</a>
                            </div>
                             <div class="project-feature">
                              <h5><strong>Jeff Wen </strong><span class="alumini_font">- Data Scientist,  Tesla</span></h5>
                              <p><strong>Project: Visaurant</strong></p>
                              <p>Visaurant is a reimagination of the way users search through images that they are interested in. One prime use case for Visaurant is in sorting and filtering through food images (hence VIS -ual rest- AURANT).</p>
                              <a href="#">view final project -&gt;</a>
                            </div>
                             <div class="project-feature">
                              <h5><strong>Jeff Wen </strong><span class="alumini_font">- Data Scientist,  Tesla</span></h5>
                              <p><strong>Project: Visaurant</strong></p>
                              <p>Visaurant is a reimagination of the way users search through images that they are interested in. One prime use case for Visaurant is in sorting and filtering through food images (hence VIS -ual rest- AURANT).</p>
                              <a href="#">view final project -&gt;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 no-padding feature-right">
                        <div class="col-md-12 alumini_background">
                            <div class="col-md-12 alumini_story">
                                <div class="col-md-3">
                                    <div class="alumini-prize">
                                        <img alt="" class="img-responsive" src="/images/alumin_prize.jpg">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h5>FEATURED ALUMNI STORY:</h5>
                                    <h4><strong>Cossette</strong></h4>
                                </div>
                            </div>  
                             <div class="col-md-12 alumini_name">
                                <h5>After graduating from the bootcamp, Andre was hired at Blitsy, where he works on a number of projects aimed at helping both the company and customer maximize their digital experiences on the site.</h5>
                                <h5>He talked about his various experiences before attending the bootcamp, saying that, <em><strong>"Upon reflection, the only thing holding them all together was my interest in the problems that data science gives you the tools to solve."</strong></em></h5>
                                
                                <a href="#">read story here -&gt;</a> 
                            </div> 
                        </div>
                        <div class="col-md-12 alumini_background alumini-dark">
                            <div class="col-md-12 alumini_story">
                                <div class="col-md-3">
                                    <div class="alumini-prize">
                                        <img alt="" class="img-responsive" src="/images/alumin_prize.jpg">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h5>FEATURED ALUMNI STORY:</h5>
                                    <h4><strong>Cossette</strong></h4>
                                </div>
                            </div>  
                             <div class="col-md-12 alumini_name">
                                <h5><em><strong>"Data science doesn't mean a thing if it's not communicated effectively,"</strong></em> said Nathan.</h5>
                                <h5>We agree, and we're excited to see him putting that belief into professional practice as a Data Visualization Engineer at Ancestry. </h5>
                                <h5>In this Q&amp;A, he talks about his day-to-day workflow and how his bootcamp experience prepared him for it. He also provides useful advice for anyone considering a data science bootcamp.  </h5>

                                <h5><em>"It won't come easy at first but that struggle is where all the learning is,"</em> he added.</h5>
                                
                                <a href="#">read story here -&gt;</a> 
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="row alumini-apply">
                    <div style="margin: auto 2%;" class="row">
                      <h4>Want to be part of our alumni community? <strong><a href="/enroll-apply-industrial-training-chandigarh-hyderabad" target="_blank">APPLY TO OUR BOOTCAMP NOW</a></strong></h4>
                    </div>
                </div>

                <div class="row alumin_inner">
                    <div class="col-md-6 col-sm-6">
                      <div class="alumni-student">
                        <h1>PROFESSIONAL DEVELOPMENT COURSES <strong>ALUMNI</strong></h1>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 no-padding">
                      <img alt="" class="img-responsive" src="/images/alumini_student.jpg">
                    </div>
                </div>

                <div class="row alumini_ethics">
                    <div class="col-md-4 col-xs-12 alumini-meet">
                      <h5><strong>We strive, we sweat, we swear. We go the extra mile. We stage, we fail. We try again. Get it right. We learn. Connect. Come together.</strong></h5>
                    </div>
                    <div class="col-md-2 col-xs-12 no-padding">
                      <img alt="" class="img-responsive alumini-mob" src="/images/alumini_hall.jpg">
                    </div>
                    <div class="col-md-3 col-xs-6 alumni-stats text-center">
                      <div class="alumini-courses">
                        <h2>136</h2>
                        <h5>GRADS</h5>
                      </div>
                    </div>
                    <div class="col-md-3 col-xs-6 alumni-stats text-center">
                      <div class="alumini-courses">
                        <h2>8</h2>
                        <h5>COURSES</h5>
                      </div>      
                    </div>
                </div>

                <div class="row alumini_data">
                    <div class="col-md-9">
                        <div class="col-md-6 col-sm-6 alumini_margin">
                              <div class="alumini-visual">
                                <h5><strong>DATA VISUALIZATION WITH D3.JS</strong></h5>
                                <p><strong>KARL SLUIS</strong></p>
                                <p>I've been singing the praises of the course all over New York City, you may find more friendly faces that I've encouraged to take the class show  up in the near future!</p>
                              </div>
                              <div class="alumini-visual">
                                <h5><strong>INTRODUCTION TO DATA SCIENCE</strong></h5>
                                <p><strong>LAURA PEDERSON</strong></p>
                                <p> The Intro to Data Science class provides a great overview on Data Science topics. [The instructor] clearly explains the main points and always takes extra mileage to help us to understand the issue whether in the class or after hours via group chat. I am really impressed on the lectures and have learned a lot from this intensive class.</p>
                              </div>
                        </div>
                        <div class="col-md-6 col-sm-6 alumini_margin">
                              <div class="alumini-visual">
                                <h5><strong>DATA VISUALIZATION WITH D3.JS</strong></h5>
                                <p><strong>KARL SLUIS</strong></p>
                                <p>I've been singing the praises of the course all over New York City, you may find more friendly faces that I've encouraged to take the class show  up in the near future!</p>
                              </div>
                              <div class="alumini-visual">
                                <h5><strong>INTRODUCTION TO DATA SCIENCE</strong></h5>
                                <p><strong>LAURA PEDERSON</strong></p>
                                <p> The Intro to Data Science class provides a great overview on Data Science topics. [The instructor] clearly explains the main points and always takes extra mileage to help us to understand the issue whether in the class or after hours via group chat. I am really impressed on the lectures and have learned a lot from this intensive class.</p>
                              </div>
                        </div>                
                        
                    </div>
                </div>

            </div>
     </section>
     <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
