<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Programs - Stack Labs</title>


     <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
     <link href="/static/css/bootstrap.min.css" rel="stylesheet">

     <!-- Awsome font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
     <link href="/static/socicon/socicon/styles.css" rel="stylesheet">
    <link href="/static/themify-icons/css/themify-icons.css" rel="stylesheet">


    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> 
    <link href="//fonts.googleapis.com/css?family=Monoton|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>
     <section class="prog_img">
            <div class="container next_gen">
                <h4>Apply</h4>
                <h1>Your Journey Begins Here.</h1>
            </div>
            <div class="overlay_bg"></div>
     </section>

<section class="apply-form">

   <div class="container apply_page">
        <h2></h2>
       <div class="row">
           <div class="col-md-10 col-md-offset-1">
               <blockquote class="application_quote"><p>“Learning from the teachers was the best decision I’ve made. I’m happy I realized how important it is to get into a community that genuinely cares about you. In only a few months, I met almost all the people in my industry who&nbsp;I admire.”</p><p><em>-Courtney Dickson</em></p></blockquote>

               <p><span class="apply_ready">Ready to take the next step towards a career in tech? Apply to one of our three tracks here!</span></p>

               <div style="" id="form_wrapper" class="apply_form">

                    <form action="" id="form_main" enctype="" method="post">

                       <div class="form_inner">

                           <ul class="" id="">

                               <li class="apply-list">
                                    <label for="" class="apply_headings">Name<span class="apply_icon">*</span></label>
                                    <div class="apply_input"> 
                                        <span class="text_name"> <input type="text" name=""> <label for="">First</label> </span> 
                                        <span class="text_name"> <input type="text" value="" name=""> <label for="">Last</label> </span> 

                                    </div>
                               </li>

                                <li class="apply-list">
                                    <label for="" class="apply_headings">Email<span class="apply_icon">*</span></label>
                                    <div class="apply_input medium"> <input type="text" name=""></div>
                                </li>

                               <li class="apply-list">
                                    <label for="" class="apply_headings">Phone Number<span class="apply_icon">*</span></label>
                                    <div class="apply_input medium"><input type="text" class="" value=""  name=""></div>
                                </li>

                               <li class="apply-list">
                                    <label for="" class="apply_headings">LinkedIn Profile URL</label>
                                    <div class="apply_input medium"><input type="text"  class="" value="" name=""></div>
                                </li>

                               <li class="">
                                    <label class="apply_headings">Which track are you interested in?<span class="apply_icon">*</span></label>
                                    <div class="apply_input apply_radio">
                                        <ul class="radio_ul">
                                            <li class=""><input type="radio" value="" name=""><label for="">Big Data</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Cloud Computing</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Data Science</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Devops</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">IOT</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Data Visualization</label></li>
                                        </ul>
                                    </div>
                                </li>

                                <li>
                                    <label class="apply_headings">When is the best time to reach you? (Check all that apply)<span class="">*</span></label>
                                        <div class="apply_input apply_checkbox">
                                             <ul>
                                                <li> <input type="checkbox" value="" name=""> <label for="">Morning</label></li>
                                                <li> <input type="checkbox" value="" name=""> <label for="">Afternoon</label></li>
                                                <li> <input type="checkbox" value="" name=""> <label for="">Night</label></li>
                                            </ul>
                                        </div>
                                </li>

                               <li>
                                    <label class="apply_headings">How did you hear about us?</label>
                                    <div class="apply_input apply_radio">
                                        <ul class="radio_ul">
                                            <li class=""><input type="radio"  value="" name=""><label for="">Online Search</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Social Media</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Word of Mouth</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Academy Event</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Press / News</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Other</label></li>
                                        </ul>
                                    </div>
                                 </li>
                                <li class="" id="" style="display: none;">
                                    <label for="" class="">Please describe</label>
                                    <div class="apply_input"><textarea class="textar" name="" rows="6" cols="100"></textarea></div>
                                </li>
                                <li>
                                    <label class=""></label>
                                    <div class="apply_input apply_checkbox"><ul class=""><li class=""> <input type="checkbox" value="" name=""> <label id="" for="">Yes, I'd like to receive updates.</label></li></ul>
                                     </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form_submitt">
                            <input type="submit" value="Submit Application" class=" submit_button" id="">
                        </div>

                    </form>
               </div>
            </div>
        </div>
   </div>

</section>
    
           

    <footer>
        <% include ../partials/footer %>
    </footer>


<script src="/static/js/jquery.js"></script>

<script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
