<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Big Data Courses</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
    <section id="feature" class="prog_img">
            <div class="container training_btn">
                <img title="" alt="" src="/images/big_icon.png" class="img-responsive">
                <h1>Big Data Training</h1>
                <span>Take Deep Dive in Data Engineering Skills</span>
                <p><a class="btn btn_apply" href="#">APPLY NOW</a>
                    <a class="btn btn_reach" href="#">Talk to instructor</a>
                </p>
            </div>
            <div class="overlay_bg"></div>
     </section>
    <section class="program_section">
        <div class="container-fluid">
            <div class="program_main">
                <div class="container">
                    <div class="row">
                    <div class="col-md-4 col-sm-6 prog_icon blue_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-BigData-Training.png" alt="StackDataLabs-BigData-Training" title="StackDataLabs-BigData-Training">
                            </div>                                            
                        </div>
                        <h2>BigData with Java</h2>
                        <p>You will learn skills related to BigData Overview, BigData Landscape, Need of BigData ,Hadoop , Apache Spark and JVM based Programming -Java & Scala.</p>
                        <a class="btn btn-lg btn-info" href="/training/bigdata-hadoop-spark-training">Explore the Program</a>
                    </div>
                    <div class="col-md-4 col-sm-6 prog_icon green_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-CloudComputing-Training.png" alt="StackDataLabs-CloudComputing-Training" title="StackDataLabs-CloudComputing-Training">
                            </div>                                             
                        </div>
                        <h2>Hadoop Administration</h2>
                        <p>You will learn skills related to hadoop administration,Multi-node deployment ,Cluster administration , automation of Hadoop Clusters,MapReduce programming,Hive and Pig.</p>
                        <a class="btn btn-lg btn-info" href="/training/bigdata-hadoop-spark-training">Explore the Program</a>
                    </div>
                 
                    <div class="col-md-4 col-sm-6 prog_icon orange_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-DataScience-IoT-Training.png" alt="StackDataLabs-DataScience-IoT-Training" title="StackDataLabs-DataScience-IoT-Training">
                            </div>                                          
                        </div>
                        <h2>Data Engineering</h2>
                        <p>You will learn skills about planning,designing the BigData solutions,Hadoop Architect ,Data Integration , ETL Deployment , Lambda architecture and Data Pipeline and Data warehousing.</p>
                        <a class="btn btn-lg btn-info" href="/training/bigdata-hadoop-spark-training">Explore the Program</a>
                    </div>  
                    <div class="col-md-4 col-sm-6 prog_icon blue_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-DevOps-Training.png" alt="StackDataLabs-DevOps-Training" title="StackDataLabs-DevOps-Training">
                            </div>                                            
                        </div>
                        <h2>BigData Analytics</h2>
                        <p>You Will learn skills related to apache spark,Spark Cluster deployment , Describe different ways of getting data into Spark Create Resilient Distributed Datasets (RDDs), and Spark DataFrames and Machine Learning .</p>
                        <a class="btn btn-lg btn-info" href="/training/bigdata-hadoop-spark-training">Explore the Program</a>
                    </div>
                    <div class="col-md-4 col-sm-6 prog_icon green_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-BusinessIntelligence-Training.png" alt="StackDataLabs-BusinessIntelligence-Training" title="StackDataLabs-BusinessIntelligence-Training">
                            </div>                                               
                        </div>
                        <h2>Apache Spark with Python</h2>
                        <p>You will learn skills related to Apache Spark , Functional Programming Overview,Different Spark Components ,Build Spark application,Work with PairRDD,Work with DataFrames and Spark Clusters Components.</p>
                        <a class="btn btn-lg btn-info" href="/training/bigdata-hadoop-spark-training">Explore the Program</a>
                    </div>
                 
                    <div class="col-md-4 col-sm-6 prog_icon orange_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-DataVisualization-Training.png" alt="StackDataLabs-DataVisualization-Training" title="StackDataLabs-DataVisualization-Training">
                            </div>                                            
                        </div>
                        <h2>NoSQL Essentials</h2>
                        <p>You will learn the basics of NoSQL Databases ,need of NoSQL database , What is NewSQL, How to use read and write paths using Cassandra,VoltDb ,Different distributions and How you determine the best fit for you BigData Problem.</p>
                        <a class="btn btn-lg btn-info" href="/training/bigdata-hadoop-spark-training">Explore the Program</a>
                    </div>  

                </div>     
             </div>
         </div>

    </div>
    </section>
           

    <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
