<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stack Data Labs is Immersive Training Provider in Chandigarh|Hyderabad with 100% Placement support, training is provided by certified experts! Join now!">
    <meta name="author" content="">

    <title>Stack Data labs - Placement & Job company - Chandigarh</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
     <section id="feature"  class="prog_img">
            <div class="container training_btn certification career_text">
                <h5>We're</h5>
                <h1>hiring!</h1>
                <p>Today IT Industry Era having lots of Jobs for the Skilled Professionals in old and latest Technologies. Millions of Jobs will produce by Cloud Computing, BigData and Internet of Things Industry.  </p>
            </div>
            <div class="overlay_bg"></div>
     </section>

     <section class="certifcate-section">
         <div class="container certifications_main">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="/images/cloudjobs.png" class="img-responsive career-img" alt="" >
                    <h2>Cloud Jobs</h2>
                </div>
                <div class="col-md-9 career_time">
                    <h4>Full-Time position <span><i aria-hidden="true" class="fa fa-map-marker"></i>CHANDIGARH</span></h4>
                    <p>
                        We are looking for Senior Data Scientists to be part of the Stack Data Labs Team. We seek individuals who love and excel at analyzing and visualizing data to solve important problems, are passionate about teaching others to be premier data scientists, and are fun to be around and work with.                    
                    </p>
                    <h5>Please fill out the form below if you're interested in this position.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="/images/bigdatajobs.png" class="img-responsive career-img" alt="" >
                    <h2>BigData Jobs</h2>
                </div>
                <div class="col-md-9 career_time">
                    <h4>Full-Time position <span><i aria-hidden="true" class="fa fa-map-marker"></i>CHANDIGARH</span></h4>
                    <p>
                        We are looking for Senior Data Scientists to be part of the Stack Data Labs Team. We seek individuals who love and excel at analyzing and visualizing data to solve important problems, are passionate about teaching others to be premier data scientists, and are fun to be around and work with.                    
                    </p>
                    <h5>Please fill out the form below if you're interested in this position.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="/images/iot-jobs.png" class="img-responsive career-img" alt="" >
                    <h2>IoT Jobs</h2>
                </div>
                <div class="col-md-9 career_time">
                   <h4>Full-Time position <span><i aria-hidden="true" class="fa fa-map-marker"></i>CHANDIGARH</span></h4>
                    <p>
                        We are looking for Senior Data Scientists to be part of the Stack Data Labs Team. We seek individuals who love and excel at analyzing and visualizing data to solve important problems, are passionate about teaching others to be premier data scientists, and are fun to be around and work with.                    
                    </p>
                    <h5>Please fill out the form below if you're interested in this position.</h5>
                </div>
            </div>
        </div>
     </section>

<section class="carrer_form"> 
    <div class="container apply_page reach_page">
        <h2>JOIN OUR TEAM:</h2>
       <div class="row">
           <div class="col-md-10 col-md-offset-1">

               <div class="apply_form" id="form_wrapper" style="">

                    <form method="post" enctype="" id="form_main" action="">

                       <div class="form_inner">

                           <ul id="" class="">

                               <li class="apply-list">
                                    <label class="apply_headings" for="">Name<span class="apply_icon">*</span></label>
                                    <div class="apply_input"> 
                                        <span class="text_name"> <input type="text" name=""> <label for="">First</label> </span> 
                                        <span class="text_name"> <input type="text" name="" value=""> <label for="">Last</label> </span> 

                                    </div>
                               </li>

                                <li class="apply-list">
                                    <label class="apply_headings" for="">Email<span class="apply_icon">*</span></label>
                                    <div class="apply_input medium"> <input type="text" name=""></div>
                                </li>

                               <li class="apply-list">
                                    <label class="apply_headings" for="">Phone Number<span class="apply_icon">*</span></label>
                                    <div class="apply_input medium"><input type="text" name="" value="" class=""></div>
                                </li>
                                <li class="apply-list">
                                    <label class="apply_headings" for="">LinkedIn Profile URL</label>
                                    <div class="apply_input medium"><input type="text" name="" value="" class=""></div>
                                </li>                          
                                <li>
                                    <label class="apply_headings" for="">Tell us about yourself</label>
                                    <div class="apply_input"><textarea cols="100" rows="6" name="" class="textar"></textarea></div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label for="exampleInputFile">Attach Resume</label>
                                        <input type="file" id="exampleInputFile">
                                      </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form_submitt">
                            <input type="submit" id="" class=" submit_button" value="Submit">
                        </div>

                    </form>
               </div>
            </div>
        </div>
   </div>
</section>
     <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
