<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StackLabs - OpenStack Certification | MapR Certification | Java Certification</title>


    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

     <!-- Awsome font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/socicon/socicon/styles.css" rel="stylesheet">
    <link href="/static/themify-icons/css/themify-icons.css" rel="stylesheet">


    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> 
    <link href="//fonts.googleapis.com/css?family=Monoton|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>


</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
     <section id="feature"  class="prog_img">
            <div class="container training_btn certification">
                <h1>CERTIFICATIONS</h1>
                <p>A Certification of Technology explain your expertise skill in a particular field. StackLabs provide help for getting In-depth Training with practical exposure to get certified in latest Technology like OpenStack, MapR and Internet of Things.</p>
            </div>
            <div class="overlay_bg"></div>
     </section>

     <section class="certifcate-section">
         <div class="container certifications_main">
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/cloud-certification.png" class="img-responsive img-center" alt="" >
                </div>
                <div class="col-md-8">
                    <h2>Cloud Certification </h2>
                    <p>
                        The OpenStack Certification, now the most popular On-line Certification IT Era. OpenStack is an Open source project to build and develop your own cloud wither it will be public or private. This certification concept start with the basic knowledge of Linux, Server installation and configuration.
                    </p>
                    <p>
                        StackLabs - provide In-depth technical knowledge and practise to the professional to qualify and complete the certification from OpenStack Foundation. This Certification helps build the Cloud certified expert for the industry and after this professional ready for Jobs
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h2>BigData Certification </h2>
                    <p>
                        The MapR Certification, now the most significant On-line Certification in world of IT Industry. This Certification provide expert to the industry who give right suggestion to increase the business in right direction. In MapR Hadoop certification, you can demonstrate your big data expertise and gain recognition for one of the most sought after skills in technology IT Era.
                    </p>
                    <p>
                        StackLabs - provide certification training from scratch to the expert level with quality, experience expert trainer and complete hands on practise in high configuration Labs. This Certification helps build the BigData certified professional for the industry and ready for Jobs.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/static/images/mapr-certification.png" class="img-responsive img-center" alt="" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/java-certification.png" class="img-responsive img-center" alt="" >
                </div>
                <div class="col-md-8">
                    <h2>Java Certification</h2>
                    <p>
                        Oracle provide the Java Certification to a skill professional who clear their online test. THe certification give extra edge to the career and increase the weight-age of resume at the time of Interview in a Company. The experience of certification is provide In-depth knowldge about the technology which include test cases, logical concept and practical knowldge.
                    </p>
                    <p>
                        StackLabs - provide In-depth technical knowledge and practise to the professional to qualify and complete the certification from Oracle Foundation. This Certification helps build the java expert for the industry and after this professional ready for Jobs.
                    </p>
                </div>
            </div>
        </div>
     </section>


    <section class="news_section">
        <div class="container news_inner">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3>Any Query Or Intrested To Join Training Program </h3>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#" class="action">REACH US &nbsp;<i aria-hidden="true" class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>


     <footer>
        <% include ../partials/footer %>
    </footer>


<script src="/static/js/jquery.js"></script>

<script src="/static/js/bootstrap.min.js"></script>>

</body>

</html>
