<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Want the best training in Chandigarh for Big data, Hadoop, Apache Spark? Come and Join Stack Data Labs and learn from the Industrial experts. Contact-us!">
    <meta name="author" content="">

    <title>Stack Data Labs-Training in Big Data|Hadoop|Spark-Chandigarh</title>
    <% include ../partials/head %>
    <script src="/js/jquery-min.js"></script>

</head>

<body>
        <% include ../partials/header %>
     <section id= "feature" class="prog_img">
            <div class="container next_gen">
                <h4>chandigarh</h4>
                <h1>Tech Startups </h1>
            </div>
            <div class="overlay_bg"></div>
     </section>

     <section class="scroll-prog">
        <div id="stickyNavContainer">
    <div id="campus" class="space">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 stickyNav" id="stickyNav">
                        <ul class="nav">
                            <li class=""><a href="#campus">Campus</a></li>
                             <li class=""><a href="#programs">Programs</a></li>
                            <li class=""><a href="#getting-there">Getting There</a></li>   
                                 
                        </ul>
                    </div>
                    <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 about-prog">
                           
                        <p>Big Data will help generate help to new growth opportunities and entirely new categories of companies in the market, such as those that aggregate and analyze industry data. Most of those will be companies that sit in the middle of large information flows where data about products and services, buyers and product suppliers, consumer preferences and intent can be captured and analyzed. Big Data forward-thinking of leaders across sectors should begin aggressively to build their organizations’. Five ways to leverage Big Data</p>
                    </div>
                </div>
            </div>
    </div>
    <div id="programs" class="space">
            <div class="container">
                <div class="row">
                        <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3">
                         <div class="curriculum">
                              
                            <div class="program_main">
                                
                                <div class="col-md-4 col-sm-6 prog_icon blue_prog">
                                    <div class="circle_outer">   
                                        <div class="circle_inner">           
                                            <img class="img-responsive" src="/images/big-data-icon.png" alt="data_center" title="data_center">
                                        </div>                                           
                                    </div>
                                    <h4>Big Data</h4>
                                    <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                                    <a class="btn btn-lg btn-info" href="/training/big-data">Explore the Program</a>
                                </div>
                                <div class="col-md-4 col-sm-6 prog_icon green_prog">
                                    <div class="circle_outer">   
                                        <div class="circle_inner">           
                                            <img class="img-responsive" src="/images/cloud-icon.png" alt="data_center" title="data_center">
                                        </div>                                           
                                    </div>
                                    <h4>Cloud Computing</h4>
                                    <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                                    <a class="btn btn-lg btn-info" href="/training/cloud-computing">Explore the Program</a>
                                </div>
                             
                                <div class="col-md-4 col-sm-6 prog_icon orange_prog">
                                    <div class="circle_outer">   
                                        <div class="circle_inner">           
                                            <img class="img-responsive" src="/images/data-science-icon.png" alt="data_center" title="data_center">
                                        </div>                                           
                                    </div>
                                    <h4>Data Science & IoT</h4>
                                    <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                                    <a class="btn btn-lg btn-info" href="/training/data-science-iot">Explore the Program</a>
                                </div>
                             </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        
        <div id="getting-there" class="space">
            <div class="container">
                <div class="row">
                     <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 main_headline">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.3122854495373!2d76.78352495112681!3d30.76581359099762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ff2820197ed7d%3A0xaf6d9b73937963fb!2sXenon+DigiLabs+LLP!5e0!3m2!1sen!2sin!4v1474002608520" width="800" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div> 
                </div>
            </div>
        </div>
       
        
        
        
    </div>

     </section>

   <% include ../partials/testimonial %>
    <% include ../partials/footer %>
<script src="/js/bootstrap.js"></script>
<script src="/js/slide-nav.js"></script>
<script src="/js/expand-nav.js"></script>
<script src="/js/stickynav-custom.js"></script>

</body>

</html>
