<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cloud Computing Courses</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
     <section id="feature" class="prog_img">
            <div class="container training_btn">
                <img title="" alt="" src="/images/big_icon.png" class="img-responsive">
                <h1>Cloud Computing Training</h1>
                <span>Transforming the way we do Business</span>
                <p><a class="btn btn_apply" href="#">APPLY NOW</a>
                    <a class="btn btn_reach" href="#">Talk to instructor</a>
                </p>
            </div>
            <div class="overlay_bg"></div>
     </section>

    <section class="program_section">
        <div class="container-fluid">
            <div class="program_main">
                <div class="container">
                    <div class="row">
                    <div class="col-md-4 col-sm-6 prog_icon blue_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-BigData-Training.png" alt="StackDataLabs-BigData-Training" title="StackDataLabs-BigData-Training">
                            </div>                                             
                        </div>
                        <h2>Cloud Computing Essentials</h2>
                        <p>You Will learn Skills related to vcloud computing overview,why cloud computing important , Different cloud Computing Platforms,Dockers, Public Cloud,Hybrid Cloud .</p>
                        <a class="btn btn-lg btn-info" href="/training/cloud-computing-openstack-amazon-azure-devops">Explore the Program</a>
                    </div>
                    <div class="col-md-4 col-sm-6 prog_icon green_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-CloudComputing-Training.png" alt="StackDataLabs-CloudComputing-Training" title="StackDataLabs-CloudComputing-Training">
                            </div>                                            
                        </div>
                        <h2>OpenStack Administration</h2>
                        <p>You will learn skills related to openstack,KVM, virtualization , openstack deployment ,openstack monitoring .ceilometer,containers,openstack Cluster deployment ,Controller,Compute.</p>
                        <a class="btn btn-lg btn-info" href="/training/cloud-computing-openstack-amazon-azure-devops">Explore the Program</a>
                    </div>
                 
                    <div class="col-md-4 col-sm-6 prog_icon orange_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-DataScience-IoT-Training.png" alt="StackDataLabs-DataScience-IoT-Training" title="StackDataLabs-DataScience-IoT-Training">
                            </div>                                            
                        </div>
                        <h2>OpenStack Professional</h2>
                        <p>You will learn skills related to Designing,and deployment of Openstack models , Different components of Openstack,cluster administration,monitoring and Hadoop Deployments.</p>
                        <a class="btn btn-lg btn-info" href="/training/cloud-computing-openstack-amazon-azure-devops">Explore the Program</a>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 prog_icon blue_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-DevOps-Training.png" alt="StackDataLabs-DevOps-Training" title="StackDataLabs-DevOps-Training">
                            </div>                                            
                        </div>
                        <h2>AWS Professional</h2>
                        <p>You will learn skills related to Amazon Web Services Platform , Linux / Server Administration with EC2, S3, ELB, , EBS, Beanstalk, Route53, Cloud Front, (CDN) , RDS VPC, Cloud watch, Autoscaling.</p>
                        <a class="btn btn-lg btn-info" href="/training/cloud-computing-openstack-amazon-azure-devops">Explore the Program</a>
                    </div>
                    <div class="col-md-4 col-sm-6 prog_icon green_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-BusinessIntelligence-Training.png" alt="StackDataLabs-BusinessIntelligence-Training" title="StackDataLabs-BusinessIntelligence-Training">
                            </div>                                            
                        </div>
                        <h2>Google Cloud Professional</h2>
                        <p>You will learn skills related to Google Cloud Platform , Compute engine,container engine,,container registry ,cloud bigtable,cloud datastore ,big query,Cloud Dataflow ,bigData,machine elarning.</p>
                        <a class="btn btn-lg btn-info" href="/training/cloud-computing-openstack-amazon-azure-devops">Explore the Program</a>
                    </div>
                 
                    <div class="col-md-4 col-sm-6 prog_icon orange_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-DataVisualization-Training.png" alt="StackDataLabs-DataVisualization-Training" title="StackDataLabs-DataVisualization-Training">
                            </div>                                           
                        </div>
                        <h2>Azure Professional</h2>
                        <p>You will learn skills related to Azure Platform Compute,Networking ,Azure Storage Durable, Database-as-a-service. HDInsight Provision cloud ,Hadoop, Spark, R Server, HBase, and Storm .</p>
                        <a class="btn btn-lg btn-info" href="/training/cloud-computing-openstack-amazon-azure-devops">Explore the Program</a>
                    </div>  

                </div>     
             </div>
         </div>

    </div>
    </section>
  <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
