<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stack Labs -Cloud Computing</title>


     <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

     <!-- Awsome font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/socicon/socicon/styles.css" rel="stylesheet">
    <link href="/static/themify-icons/css/themify-icons.css" rel="stylesheet">


    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> 
    <link href="//fonts.googleapis.com/css?family=Monoton|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
     <section class="prog_img">
            <div class="container next_gen">
                <h1>Cloud Computing Training</h1>
            </div>
            <div class="overlay_bg"></div>
     </section>
     <section class="training_detail">
        <div class="container">
            <div class="row training_text">
            <p><span>Cloud Computing : </span>Cloud Computing is a emerging way of managing the resources (applications,Data,IT Hardware)which are called Virtual resources and are rapidly provisioned and provided as standardized services to customers/enterprises and from the point of managing it acts as a single resource and This can be used to provide different services with elastic scaling.Arcadian Learning provides Training in Cloud Computing Certification and OpenStack Training Cloud Atlas, a SDN abstraction and API extending the Quantum virtual network into the WAN. Cloud Atlas is built on top of existing WAN network services (L1-, L2-, and L3VPNs) that do support QoS. Cloud Atlas makes these services available to OpenStack through a tight integration with Quantum. This paper discusses two prototypes we have built of Cloud Atlas, one based on command line scripts and one based on a network management system.   </p>
            </div>

            <div class="row training_data text-center">
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-cloud fa-8x"></i><h4>Cloud Administration</h4>
                                    <p>
                                        Must Have Knowledge of Hadoop Distributed File System &amp; MapReduce work,Hardware,network configurations for Hadoop clusters-Cloudera,Hortonworks ,Amazon.
                                    </p>
                                </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-server fa-8x"></i><h4>IaaS </h4>
                                    <p>
                                        Infrastructure as a service (IaaS) is a standardized, highly automated offering, where compute resources, complemented by storage and networking capabilities are owned and hosted by a service provider and offered to customers on-demand. Customers are able to self-provision this infrastructure, using a Web-based graphical user interface that serves as an IT operations management console for the overall environment. API access to the infrastructure may also be offered as an option.
                                    </p>
                                </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-desktop fa-8x"></i> <h4>Cloud Developer </h4>
                                    <p>
                                    </p>
                                </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-laptop fa-8x"></i> <h4>SaaS</h4>
                                    <p>
                                        Cloud application services, or Software as a Service (SaaS), represent the largest cloud market and are still growing quickly. SaaS uses the web to deliver applications that are managed by a third-party vendor and whose interface is accessed on the clients’ side. Most SaaS applications can be run directly from a web browser without any downloads or installations required, although some require plugins.
                                    </p>
                                </a>
                        </div>
                    <!-- Item box -->
                </div>
        </div>
        <div class="row training_items">
            <span class="span_text">Other Courses</span>

           <div class="pricing-5-col">

            <!-- Price col item -->
            <div class="item_bottom" style="opacity: 1; bottom: 0px;">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>Cloud Administration</h4>
                            </li>
                            <li class="price-row">
                                <span>Basic Linux</span>
                            </li>
                            <li>
                                Advance Linux
                            </li>
                            <li>
                                Building Packages
                            </li>
                            <li>
                                Managing Clusters
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_top" style="opacity: 1; top: 0px;">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>Openstack </h4>
                            </li>
                            <li class="price-row">
                                <span>
                                    What is Openstack
                                </span>
                            </li>
                            <li>
                                Basics of Openstack
                            </li>
                            <li>
                                Deploying Devstack
                            </li>
                            <li>
                                Deploying 3 Nodes Openstack
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_bottom" style="opacity: 1; bottom: 0px;">
                <div class="pricing-box">
                    <div class="element-line">
                        <div class="pricing-featured">
                            <ul>
                                <li class="title-row"><h4>Amazon Web Services  </h4></li>
                                <li class="price-row"><span>Introduction</span></li>
                                <li>Using AWS Services</li>
                                <li>EC2 in depth</li>
                                <li>Using Other AWS Products</li>
                                <li class="btn-row">
                                    <div class="mybutton small">
                                        <a href="#"><span data-hover="Now">Get Started</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_top" style="opacity: 1; top: 0px;">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row"><h4>Cloud Development</h4></li>
                            <li class="price-row"><span>Introduction</span></li>
                            <li>Basics of Cloud</li>
                            <li>Basics of Python</li>
                            <li>Contributing to Openstack</li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_bottom" style="opacity: 1; bottom: 0px;">
                <div class="pricing-box last">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>IBM Cloud Platform </h4>
                            </li>
                            <li class="price-row">
                                <span>Introduction to IBM Cloud</span>
                            </li>
                            <li>
                                Hands on with Bluemix
                            </li>
                            <li>
                                Deploying Workloads on Bluemix
                            </li>
                            <li>
                                Migrations
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->
            <div class="clearfix"></div>
        </div>
        </div>
     </section>

     <section class="news_section">
        <div class="container news_inner">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3>Any Query Or Intrested To Join Training Program </h3>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#" class="action">REACH US &nbsp;<i aria-hidden="true" class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>


     <footer>
        <% include ../partials/footer %>
    </footer>


<script src="/static/js/jquery.js"></script>

<script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
