<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Science Courses</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
     <section id="feature" class="prog_img">
            <div class="container training_btn">
                <img title="" alt="" src="/images/big_icon.png" class="img-responsive">
                <h1>Data Science & IoT Training</h1>
                <span>Data Is New Soil , Data is Electricity</span>
                <p><a class="btn btn_apply" href="#">APPLY NOW</a>
                    <a class="btn btn_reach" href="#">Talk to instructor</a>
                </p>
            </div>
            <div class="overlay_bg"></div>
     </section>

    <section class="program_section">
        <div class="container-fluid">
            <div class="program_main">
                <div class="container">
                    <div class="row">
                    <div class="col-md-4 col-sm-6 prog_icon blue_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-BigData-Training.png" alt="StackDataLabs-BigData-Training" title="StackDataLabs-BigData-Training">
                            </div>                                          
                        </div>
                        <h2>Data Science 101</h2>
                        <p>You will learn the basics of Data Science , Data Processing,Statistics,mathematics,Machine Learning,How to solve & Approach to the Problem, ETL and Data Integration Tools .</p>
                        <a class="btn btn-lg btn-info" href="/training/data-science-machine-learning-python-ai-nlp">Explore the Program</a>
                    </div>
                    <div class="col-md-4 col-sm-6 prog_icon green_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-CloudComputing-Training.png" alt="StackDataLabs-CloudComputing-Training" title="StackDataLabs-CloudComputing-Training">
                            </div>                                          
                        </div>
                        <h2>Data Scientist with Python</h2>
                        <p>You Will learn Python,How to extract Data ,Clean the Data , statistics ,Machine Learning .How to Ask the right questions, manipulate data sets, and create visualizations to communicate Insights.</p>
                        <a class="btn btn-lg btn-info" href="/training/data-science-machine-learning-python-ai-nlp">Explore the Program</a>
                    </div>
                 
                    <div class="col-md-4 col-sm-6 prog_icon orange_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-DataScience-IoT-Training.png" alt="StackDataLabs-DataScience-IoT-Training" title="StackDataLabs-DataScience-IoT-Training">
                            </div>                                             
                        </div>
                        <h2>R Programming & Analysis</h2>
                        <p>You will learn the R Programming, Data Analysis Using R ,Cluster analysis , Integration of the Data ,Processing of Data with R and Visualization with ggplot.</p>
                        <a class="btn btn-lg btn-info" href="/training/data-science-machine-learning-python-ai-nlp">Explore the Program</a>
                    </div>  
                    </div> 
                     <div class="row">
                    <div class="col-md-4 col-sm-6 prog_icon blue_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-DevOps-Training.png" alt="StackDataLabs-DevOps-Training" title="StackDataLabs-DevOps-Training">
                            </div>                                          
                        </div>
                        <h2>Text Analytics</h2>
                        <p>You Will learn related to natural language processing techniques ,text representation,Data Mining ,topic model and analysis ,Clustering techniques ,text categorization and sentimental analysis .analyzing unstructured Text and extracting right information and visualization it.</p>
                        <a class="btn btn-lg btn-info" href="/training/data-science-machine-learning-python-ai-nlp">Explore the Program</a>
                    </div>
                    <div class="col-md-4 col-sm-6 prog_icon green_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-BusinessIntelligence-Training.png" alt="StackDataLabs-BusinessIntelligence-Training" title="StackDataLabs-BusinessIntelligence-Training">
                            </div>                                            
                        </div>
                        <h2>IoT Accelerator Program</h2>
                        <p>This Program Designed for Idea prototyping, Building Prototypes using ,Arduino, Intel Edison ,Galileo , Texas CC3200 and Raspberry Pie ,Internet of things Overview, Exploring ibeacon and Eddystone Platform and Integrating on Xenonify Platform ,BigData analytics.</p>
                        <a class="btn btn-lg btn-info" href="/training/data-science-machine-learning-python-ai-nlp">Explore the Program</a>
                    </div>
                 
                    <div class="col-md-4 col-sm-6 prog_icon orange_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-DataVisualization-Training.png" alt="StackDataLabs-DataVisualization-Training" title="StackDataLabs-DataVisualization-Training">
                            </div>                                            
                        </div>
                        <h2>Data Science Accelerator Program</h2>
                        <p> This Program Designed for Professionals Who Doing M.Tech or Phd wants to join the Industry and Program features How to Solve the problem, how to extract Data ,Process the data , Model the data and Visualize the data using python and R Programming.</p>
                        <a class="btn btn-lg btn-info" href="/training/data-science-machine-learning-python-ai-nlp">Explore the Program</a>
                    </div>  

                </div>     
             </div>
         </div>

    </div>
    </section>
    <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
