<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stack Labs - Data Science Training</title>


    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

     <!-- Awsome font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/socicon/socicon/styles.css" rel="stylesheet">
    <link href="/static/themify-icons/css/themify-icons.css" rel="stylesheet">


    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> 
    <link href="//fonts.googleapis.com/css?family=Monoton|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
     <section class="prog_img">
            <div class="container next_gen">
                <h1>Data - Science Training</h1>
            </div>
            <div class="overlay_bg"></div>
     </section>
     <section class="training_detail">
        <div class="container">
            <div class="row training_text">
            <p><span>Data-Science : </span>The Web is full of “data-driven apps.” Almost any e-commerce application is a data-driven application. There’s a database behind a web front end,and middleware that talks to a number of other databases and data services (credit card processing companies, banks, and so on). But merely using data isn’t really what we mean by “data science.” A data application acquires its value from the data itself, and creates more data as a result. It’s not just an application with data; it’s a data product. Data science enables the creation of data products.Data Science is  an emerging area of work concerned with the collection, preparation, analysis,visualization, management, and preservation of large collections of information. Although the name Data Science seems to connect most strongly with areas such as databases and computer science, many different kinds of skills - including non-mathematical skills - are needed.        </p>
            </div>

            <div class="row training_data text-center">
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-industry fa-8x"></i><h4>Machine Learning</h4>
                                </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-file-code-o fa-8x"></i><h4>NLP </h4>
                                </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-server fa-8x"></i> <h4>Deep Learning</h4>
                                </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-rocket fa-8x"></i> <h4>Artificial Intelligence</h4>
                                </a>
                        </div>
                    <!-- Item box -->
                </div>
        </div>
        <div class="row training_items">
            <span class="span_text">Other Courses</span>
            <div class="pricing-5-col">

            <!-- Price col item -->
            <div class="item_bottom">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>NLP</h4>
                            </li>
                            <li class="price-row">
                                <span>Intro to NLP</span>
                            </li>
                            <li>
                                Speech recognition
                            </li>
                            <li>
                                Natural language generation
                            </li>
                            <li>
                                Information retrieval
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_top">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>Machine Learning </h4>
                            </li>
                            <li class="price-row">
                                <span>
                                    Environment Setup
                                </span>
                            </li>
                            <li>
                                Linear Regression
                            </li>
                            <li>
                                Regularization
                            </li>
                            <li>
                                Neural Networks
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_bottom">
                <div class="pricing-box">
                    <div class="element-line">
                        <div class="pricing-featured">
                            <ul>
                                <li class="title-row"><h4>R Programming </h4></li>
                                <li class="price-row"><span>Introduction</span></li>
                                <li>Install &amp; Configure</li>
                                <li>Reading data into R</li>
                                <li>Accessing Data</li>
                                <li class="btn-row">
                                    <div class="mybutton small">
                                        <a href="#"><span data-hover="Now">Get Started</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_top">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row"><h4>Deep learning</h4></li>
                            <li class="price-row"><span>Overview</span></li>
                            <li>Deep neural networks</li>
                            <li>Deep belief networks</li>
                            <li>Future Prospects</li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_bottom">
                <div class="pricing-box last">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>AI</h4>
                            </li>
                            <li class="price-row">
                                <span>Fundamentals</span>
                            </li>
                            <li>
                                Image Processing
                            </li>
                            <li>
                                Bayes networks
                            </li>
                            <li>
                                Intro to NLP &amp; ML
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->
            <div class="clearfix"></div>
        </div>
        </div>
     </section>

     <section class="news_section">
        <div class="container news_inner">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3>Any Query Or Intrested To Join Training Program </h3>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#" class="action">REACH US &nbsp;<i aria-hidden="true" class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>


     <footer>
        <% include ../partials/footer %>
    </footer>


<script src="/static/js/jquery.js"></script>

<script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
