<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Visualization Courses</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
     <section id="feature" class="prog_img">
            <div class="container training_btn">
                <img title="" alt="" src="/images/big_icon.png" class="img-responsive">
                <h1>Data Visualization Training</h1>
                <span>Turn your Data into Story</span>
                <p><a class="btn btn_apply" href="#">APPLY NOW</a>
                    <a class="btn btn_reach" href="#">Talk to instructor</a>
                </p>
            </div>
            <div class="overlay_bg"></div>
     </section>

    <section class="program_section">
        <div class="container-fluid">
            <div class="program_main">
                <div class="container">
                    <div class="row">
                    <div class="col-md-4 col-sm-6 prog_icon blue_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-BigData-Training.png" alt="StackDataLabs-BigData-Training" title="StackDataLabs-BigData-Training">
                            </div>                                             
                        </div>
                        <h2>Data Visualization Overview</h2>
                        <p>You will learn related to Data visualization different techniques ,Javascript , D3.js and different chart libraries ,exploring R Plot Libraries ,Storytelling ,Different graph visualization techniques ,Overview of BigData and Different Modeling techniques.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 prog_icon green_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-CloudComputing-Training.png" alt="StackDataLabs-CloudComputing-Training" title="StackDataLabs-CloudComputing-Training">
                            </div>                                             
                        </div>
                        <h2>UI/UX Designing</h2>
                        <p>You will learn the basic principles of effective web UX/UI design and Understanding of Best Practices for Web User Design and User experience ,HTML5 and Advance HTML5 Features , Canvas ,SVG and javascript.</p>
                    </div>
                 
                    <div class="col-md-4 col-sm-6 prog_icon orange_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-DataScience-IoT-Training.png" alt="StackDataLabs-DataScience-IoT-Training" title="StackDataLabs-DataScience-IoT-Training">
                            </div>                                            
                        </div>
                        <h2>Javascript Programming</h2>
                        <p>This program offers knowledge of modern JS frameworks in the form of Angular, React or visualization tools such as D3, High Charts) and help becoming competent JavaScript programmer who doesn’t need to rely only on libraries to accomplish. Learn about interplay between JavaScript and HTML & CSS, and can dynamically create, modify, and style element on a page.</p>
                    </div>  
                </div>     
             </div>
         </div>

    </div>
    </section>
    <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
