<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stack Data Labs is the best institute in Chandigarh|Hyderabad that helps you to develop new technological skills. if you are interested then come & join us now!">
    <meta name="author" content="">

    <title>Stack Data Labs-Learning Institute-Chandigarh|Hyderabad</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
     <section id="feature"  class="prog_img">
            <div class="container training_btn certification">
                <h1>Live Projects</h1>
                <p>An Immersive Training Programn of Technology explain your expertise skill in a particular field. StackLabs provide help for getting In-depth Training with practical exposure to get certified in latest Technology like OpenStack, MapR and Internet of Things. </p>
            </div>
            <div class="overlay_bg"></div>
     </section>

     <section class="certifcate-section">
         <div class="container certifications_main">
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/develop-cloud.png" class="img-responsive img-center" alt="" >
                </div>
                <div class="col-md-8">
                    <h2>Cloud Project</h2>
                    <p>
                        The OpenStack Project, now the most popular On-line Project IT Era. OpenStack is an Open source project to build and develop your own cloud wither it will be public or private. This certification concept start with the basic knowledge of Linux, Server installation and configuration.                  
                    </p>
                    <p>
                        StackLabs - provide In-depth technical knowledge and practise to the professional to qualify and complete the certification from OpenStack Foundation. This Certification helps build the Cloud certified expert for the industry and after this professional ready for Jobs                   
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h2>BigData Project</h2>
                    <p>
                        Big data: The next frontier for innovation, competition, and productivity.Big Data refers to datasets that grow so large that it is difficult to capture, store, manage, share, analyze and visualize with the typical database software tools. The popular ways to solve big data problems is to break complex problems into smaller pieces, send each piece to a different computer, solve the smaller pieces in parallel, and then pull the results together for analysis. This is the approach used by an open source program called Hadoop and its application programming model, MapReduce Big data types (e.g., location, time-series, and sensor data) require fundamental matrix operations that are not suited to traditional row-store, column-store, or MapReduce. 
                    </p>
                    <p>
                        StackLabs - provide certification training from scratch to the expert level with quality, experience expert trainer and complete hands on practise in high configuration Labs. This Certification helps build the BigData certified professional for the industry and ready for Jobs.                                       
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/images/develop-bigdata.png" class="img-responsive img-center" alt="" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/develop-iot.png" class="img-responsive img-center" alt="" >
                </div>
                <div class="col-md-8">
                    <h2>IoT</h2>
                    <p>
                       The Internet of Things (IoT), sometimes referred to as the Internet of Objects, will change everything — including ourselves. This may seem like a bold statement, but consider the impact the Internet already has had on education, communication, business, science, government, and humanity. Clearly, the Internet is one of the most important and powerful creations in all of human history.                       
                    </p>
                    <p>
                        Now consider that IoT represents the next evolution of the Internet, taking a huge leap in its ability to gather, analyze, and distribute data that we can turn into information, knowledge, and, ultimately, wisdom. In this context, IoT becomes immensely important.                      
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h2>Java Project</h2>
                    <p>
                       Java is an object-oriented programming language developed by Sun Microsystems, a company best known for its high-end Unix workstations. Modeled after C++, the Java language was designed to be small, simple, and portable across platforms and operating systems, both at the source and at the binary level                      
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/images/develop-java.jpg" class="img-responsive img-center" alt="" >
                </div>
            </div>
        </div>
     </section>


    <section class="news_section">
        <div class="container news_inner">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3>Any Query Or Intrested To Join Training Program </h3>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#" class="action">REACH US &nbsp;<i aria-hidden="true" class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
