<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stack Data Labs is one of the best platform for Cloud Computing|Data Analytics. Join Stack Data Labs and get real time training by the experts!">
    <meta name="author" content="">

    <title>Stack Data Labs-Cloud Computing labs & Analytics Platform</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
    <section id="feature"  class="prog_img">
            <div class="container training_btn certification">
                <h1>What we can offer</h1>
                <p>We believe, if you start good you will end well as well. We understand the trust and expectations of our clients, and give our best shot to provide the best services, consultancies, and quality product to the seeked query for solutions.</p>
            </div>
            <div class="overlay_bg"></div>
     </section>
     <section class="training_detail">
        <div class="container">

            
        <div class="row training_items">
            <span class="span_text">Trainings for everyone</span>
            <div class="pricing-5-col">

            <!-- Price col item -->
            <div class="item_bottom">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                           <li class="title-row">
                                <h4>Big Data</h4>
                            </li>
                            <li class="price-row">
                                <span>Hadoop Administration</span>
                            </li>
                            <li>
                                Data Engineering
                            </li>
                            <li>
                                Big Data Analytics
                            </li>
                            <li>
                                Map Reduce
                            </li>
                            <li>
                                Pig/Hive
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_top">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                             <li class="title-row">
                                <h4>Cloud</h4>
                            </li>
                            <li class="price-row">
                                <span>Cloud Administration</span>
                            </li>
                            <li>
                                Openstack
                            </li>
                            <li>
                                Amazon Web Services
                            </li>
                            <li>
                                Cloud Development
                            </li>
                            <li>
                                IBM Cloud Platform
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_bottom">
                <div class="pricing-box">
                    <div class="element-line">
                        <div class="pricing-featured">
                            <ul>
                                <li class="title-row">
                                    <h4>Data Science</h4>
                                </li>
                                <li class="price-row">
                                    <span>NLP</span>
                                </li>
                                <li>
                                    R Programming
                                </li>
                                <li>
                                    Machine Learning
                                </li>
                                <li>
                                    Deep Learning
                                </li>
                                <li>
                                    Artificial Intelligence
                                </li>
                                <li class="btn-row">
                                    <div class="mybutton small">
                                        <a href="#"><span data-hover="Now">Get Started</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_top">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>DevOps</h4>
                            </li>
                            <li class="price-row">
                                <span>Software Lifecycle Management</span>
                            </li>
                            <li>
                                Process Automation
                            </li>
                            <li>
                                Continuous Integration
                            </li>
                            <li>
                                Automatic Provisioning
                            </li>
                            <li>
                                Continuous Delivery
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_bottom">
                <div class="pricing-box last">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>IoT</h4>
                            </li>
                            <li class="price-row">
                                <span>Embedded</span>
                            </li>
                            <li>
                                Robotics
                            </li>
                            <li>
                                Smart Sensors
                            </li>
                            <li>
                                Devices Integration
                            </li>
                            <li>
                                Raspberry Pi
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->
            <div class="clearfix"></div>
        </div>
        </div>
     </section>

    <section class="news_section">
        <div class="container news_inner">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3>Any Query Or Intrested To Join Training Program </h3>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#" class="action">REACH US &nbsp;<i aria-hidden="true" class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
