<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stack Data Labs Full Stack Training Provider in Big data, Cloud, Data Science & IoT. Join the Training Course for 14 weeks to learn From Industry Experts.">
    <meta name="keywords" content="Training provider in Chandigarh, Training Courses in Chandigarh, Best Training in Chandigarh, Big data training Chandigarh, Data Science training Chandigarh, Big data Analytics training, Machine Learning in Chandigarh">

    <title>14-Weeks Training Program - DevOps, BigData ,Data Science</title>
    <% include ../partials/head %>
</head>

<body>
        <% include ../partials/header %>

   <div class="modal fade modal_home" tabindex="-1" role="dialog" id="myModal" style="display: none;" onClick="destroyVideo()">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body video_popup">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onClick="destroyVideo()">×</span></button>
                    <div class="video-container">
                            <iframe id="video1" width="800" height="450"  style="border:0;" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div id="video_homepage" class="stack_video">
         <div class="container video_container">
            <p class="video-title">Break Into a World Of Data Revolution</p><span class="video-skills">Learn the Skills in 14 Weeks.</span>
            <p><a href="#" class="watchBtn" data-toggle="modal" data-target="#myModal" id="playvideo" onclick="playme()">Watch</a></p>

            <p><a href="/contact-us/enroll-apply-industrial-training-chandigarh-hyderabad" class="btn btn-lg btn-success">get more info</a></p>
        </div>
        <video class="video" autoplay="" loop="" controls="controls" muted="muted"> 
            <source src="/videos/StackDataLabs-Immersive-Training-Program.mp4" type="video/mp4"> 
            <source src="/videos/StackDataLabs-Immersive-Training-Program.ogv" type="video/ogg"> 
            <source src="/videos/StackDataLabs-Immersive-Training-Program.webm" type="video/webm">
        </video>
     <div class="bgOverlay"></div>

   </div>
  <section class="courses_section">
        <div class="container-fluid">
            <div class="courses_inner span_text text-center">
                <h1>Explore Immersive Training Program </h1>
                <h2>Training Courses In BigData, Cloud & IoT</h2>
                <span>Choose Your Path</span>
                               
            </div>
            <div class="courses_main">
                <div class="container">
                <div class="col-md-11 col-md-offset-1">
                <div class="colmun1">
                    <div class="text_div bigdata-bg">   
                        <a href="/training/big-data">            
                            <div class="card">
                                <div class="icon_bg"></div>
                                    <h3>Big Data Training</h3>
                                <p>Next Big Thing in Processing & Analyzing the Data Hadoop & Spark.</p>
                                <div class="overlay"></div>
                                <div class="border"><span class="explore">Explore Training</span></div>
                            </div>   
                        </a>                                           
                    </div>

                   <div class="text_div devops-bg">   
                        <a href="/training/devops">            
                            <div class="card">
                                <div class="icon_bg"></div>
                                    <h3>DevOps Training</h3>
                                <p>Automation,Integration. Developing better Software Ansible, Chef, Docker.</p>
                                <div class="overlay"></div>
                                <div class="border"><span class="explore">Explore Training</span></div>
                            </div>   
                        </a>                                           
                    </div>
                 </div>
                <div class="colmun2">
                    <div class="text_div cloud-bg">   
                        <a href="/training/cloud-computing">            
                            <div class="card">
                                <div class="icon_bg"></div>
                                    <h3>Cloud Computing Training</h3>
                                <p>Enabling High Computing through Internet, OpenStack Containers, Azure, AWS.</p>
                                <div class="overlay"></div>
                                <div class="border"><span class="explore">Explore Training</span></div>
                            </div>   
                        </a>                                           
                    </div>
                   <div class="text_div iot-bg">   
                        <a href="/training/bussiness-intelligence">            
                            <div class="card">
                                <div class="icon_bg"></div>
                                    <h3>Business Intelligence Training</h3>
                               <p>Trillion Sensors embedded in devices.All Connected by Cloud, Big Data & Mobile.</p>
                                <div class="overlay"></div>
                                <div class="border"><span class="explore">Explore Training</span></div>
                            </div>   
                        </a>                                           
                    </div>

                </div>
                <div class="colmun3">
                   <div class="text_div datascience-bg">   
                        <a href="training/data-science-iot">            
                            <div class="card">
                                <div class="icon_bg"></div>
                                    <h3>Data Science & IoT Training</h3>
                                <p>Data is New Soil. Build Data Products using Machine Learning, Python, AI.</p>
                                <div class="overlay"></div>
                                <div class="border"><span class="explore">Explore Training</span></div>
                            </div>  
                        </a>                                           
                    </div>
                   <div class="text_div datavisual-bg">   
                        <a href="/training/data-visualization">            
                            <div class="card">
                                <div class="icon_bg"></div>
                                    <h3>Data Visualization Training</h3>
                                <p>Visualizing the Data for Insights, Storytelling tableau, D3.js, Angular.js</p>
                                <div class="overlay"></div>
                                <div class="border"><span class="explore">Explore Training</span></div>
                            </div>   
                        </a>                                           
                    </div>

                </div>
             </div>
             </div>
         </div>

    </div>
    </section>

    <section class="creativity_section">
    <div class="parallax" >
    <div class="parallax-overlay">
        <div class="section-content">
            <div class="container text-center">

                <!-- Parallax title -->
                <div class="immersive-provider">Stack Data Labs- <h2>Immersive Training Provider </h2> introduces Engineering Empathy Curriculum to create Learning mindset and environment for Human side of Software Development</div>
                <p class="lead">
                   Foundation is the key to get new skills.
                </p>
                <!-- Parallax title -->

                <div class="parallax-content">

                    <div class="row">
                        <!-- Boxes de Acoes -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="box">                           
                                <div class="icon">
                                    <div class="image"><i class="fa fa-institution fa-4x"></i></div>
                                    <div class="info">
                                        <h3>Fundamentals</h3>
                                        <p> Fundamentals of Training involves the strong foundation built on Design thinking,algorithms, analytics & how to solve the problem to catalyze a long & productive career.</p>
                                    </div>
                                </div>
                                <div class="space"></div>
                            </div> 
                        </div>
                            
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="box">                           
                                <div class="icon">
                                    <div class="image"><i class="fa fa-industry fa-4x"></i></div>
                                    <div class="info">
                                        <h3>Technology</h3>
                                        <p>
                                            Immersive Training Program focused on knowledge driven, intensive practical & task based curriculum to learn Cloud Computing , BigData, Data Science, & Internet of Things.
                                        </p>
                                    </div>
                                </div>
                                <div class="space"></div>
                            </div> 
                        </div>
                            
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="box">                           
                                <div class="icon">
                                    <div class="image"><i class="fa fa-wrench fa-4x"></i></div>
                                    <div class="info">
                                        <h3>Best Practises and Tools </h3>
                                        <p>
                                           Stack Data Labs Training Course features emphasis on adopting the best Practices and Tools for developing innovative & imaging ways to solve the problems. 
                                        </p>
                                    </div>
                                </div>
                                <div class="space"></div>
                            </div> 
                        </div>       
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="box">                           
                                <div class="icon">
                                    <div class="image"><i class="fa fa-space-shuttle fa-4x"></i></div>
                                    <div class="info">
                                        <h3>Engineering Empathy</h3>
                                        <p>
                                            The ability to experience empathy,understand others views, beginners mindset and willingness to internalize the feedback are few practices important to the students to learn along the Professional Skills. 
                                        </p>
                                    </div>
                                </div>
                                <div class="space"></div>
                            </div> 
                        </div>             
                        <!-- /Boxes de Acoes -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</section>

<section class="main_section">
                <div class="container">
                    <div class="row">
                        <div class="main_text">
                            <h2>Stack Data Labs Training <br> Program Features.</h2>
                        </div>
                    </div>

                    <div class="" >
                        <div class="col-md-4 col-sm-6" >
                            <div class="feature boxed">
                                <span class="feature-graph"> 77 + </span> 
                                <h3 class="feature-trained"> Sessions and Workshops Conducted </h3>
                                <p>
                                   Since 2012, Team Delivering Sessions, Workshops on Cloud, Data Science, Big Data & IOT.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 " >
                            <div class="feature boxed third_list">
                              <span class="feature-graph"> 200 + </span> 
                              <h3 class="feature-trained"> Trained Students & Professionals </h3>
                                <p>
                                    On Big Data, Devops, Cloud & IOT. Alumini Placed in TCS, Infosys, HP, Accenture & Startups.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 ">
                            <div class="feature boxed">
                                <h3>Cloud Enabled Labs</h3>
                                <span>Remotely You Acess</span>
                                <p>
                                   Cloud Factory enables You get Lab Online on Private Cloud within Minutes.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 placement-training" >
                            <div class="boxed feature cast-shadow-light mb0">
                                <h3>Placement & Jobs</h3>
                                <span>100% Job Assistance</span> 
                                <p>
                                    Career Development & Opportunities will be shared on Regular Basis.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 " >
                            <div class="feature boxed">
                                <h3>Industry Experience Faculty </h3>
                                <span>More than 10 year of Experience</span>
                                <p>
                                    Faculty for training have industry Experience plus Exposure to BigData, Cloud, IOT Product & Development.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 " >
                            <div class="feature boxed">
                                <h3>Data Science Labs</h3>
                                <span>Inhouse Analytics Platform</span>
                                <p>
                                    Big Data Analytics Professional access. Spark & Hadoop Cluster from home & Solve Real World Problems.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

             <section class="news_section newsletter">
                <div class="container news_inner">
                <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="career-find">Find out how to foster a <h4> Career In Cloud Computing ,DevOps ,IoT ,Data Science ,Big data </h4> </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a class="action" href="/contact-us/career-insights-jobs-placement-bigdata-cloud-iot">Know More &nbsp;<i class="fa fa-angle-right"></i></a>
                </div>
                </div>
                </div>
            </section>

           <section class="tech_main">
            <div class="container">
               
                <div class="col-md-7 col-sm-7 col-xs-12 tech_right">
                    <div class="tech-inner">
                        <h2>Corporate Training</h2>
                        <p>Stack Data Labs customized Training Program to help Companies and professionals to enhance Skills for Cloud computing,BigData ,Data Science & Internet of things.</p>
                        <h4><a href="/enterprise-training" class="action">Enterprise Training &nbsp;<i class="fa fa-angle-right"></i></a></h4>
                    </div>
                     <div class="tech-inner">
                        <h3>Staffing & Looking for talent?</h3>
                        <p>Companies & Startups Looking for Professionals in Next generation Skills for Developing team in Cloud Computing,BigData ,Data Science & Data Visualization . Our Alumni are Skillful and adaptive to your Environment and Business needs , So Register your Company or Startup to get Right People </p>
                        <h4><a href="#" class="action">Register &nbsp;<i class="fa fa-angle-right"></i></a></h4>
                    </div>
                </div>

                 <div class="col-md-5 col-sm-5 col-xs-12 tech_left">
                    <img src="/images/StackDataLabs-Corporate-Training-Programs.png" class="img-responsive" alt="Stack Data Labs:Corporate Training Programs" >
                </div>
            </div>
           </section>

            <section class="partnrers_section service_labs">
                <div class="container"> 
                    <h4>Technology providers & solution provider</h4>


                 
                <div class="service_main">
                    <div class="text-center">
                        <!-- Parallax title -->
                        <!-- Parallax content -->
                        <div class="service-content">
                            <div class="row text-center client-list">
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <div class="service-inner">
                                            <a href="#"> <img src="/images/StackDataLabs-OpenStack-Training.png" class="img-responsive" alt="Stack Data Labs:OpenStack Training"> </a>
                                     </div>
                                </div>
                                <!-- Client item -->
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3  col-xs-6">
                                    <div class="service-inner">
                                         <a href="#">  <img src="/images/StackDataLabs-AmazonWebServices-Training.png" class="img-responsive"  alt="Stack Data Labs:AWS Training"> </a>
                                      </div>
                                </div>
                                <!-- Client item -->
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3  col-xs-6">
                                    <div class="service-inner">
                                       <a href="#">  <img src="/images/StackDataLabs-MapR-Training.png" class="img-responsive" alt="Stack Data Labs:MapReduce Training"> </a>
                                    </div>
                                </div>
                                <!-- Client item -->
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <div class="service-inner">
                                       <a href="#">  <img src="/images/StackDataLabs-Devops-Training.png" class="img-responsive" alt="Stack Data Labs:Xenonstack"> </a>
                                      </div>
                                </div>
                                <!-- Client item -->
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3  col-xs-6">
                                    <div class="service-inner">
                                         <a href="#">  <img src="/images/StackDataLabs-Bluemix-Training.png" class="img-responsive" alt="Stack Data Labs:Bluemix"> </a>
                                      </div>
                                </div>
                                <!-- Client item -->
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <div class="service-inner" >
                                            <div class="servive_text">
                                                <span class="ser_tesla">Tesla</span>
                                                <span class="ser_data">Data Labs</span>
                                             </div>
                                    </div>
                                </div>
                                <!-- Client item -->
                            </div>
                        </div>
                        <!-- Parallax content -->
                    </div>
                </div>
                </div>
            </section>


            <section class="news_section">
                <div class="container news_inner">
                <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="career-find">
                        Any Query or Interested to <h6>Join Training Program in BigData ,Data Science,Cloud Computing & IoT</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a class="action" href="/contact-us/register-internship-bigdata-cloud-iot">REACH US &nbsp;<i class="fa fa-angle-right"></i></a>
                </div>
                </div>
                </div>
            </section>
           <% include ../partials/footer %>
   <script>
        function playme() {
        document.getElementById("video1").src = 'https://www.youtube.com/embed/j6kdSvYNqqc?autoplay=1';
        }

        function destroyVideo(){
            var url = $('#youtubePlayer').attr('src');
            $('#video1').attr('src', '');
            $('#video1').attr('src', url);
        }
</script>
</body>

</html>
