<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stack Labs -Internet-Of-Things Training</title>


     <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

     <!-- Awsome font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/socicon/socicon/styles.css" rel="stylesheet">
    <link href="/static/themify-icons/css/themify-icons.css" rel="stylesheet">


    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> 
    <link href="//fonts.googleapis.com/css?family=Monoton|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
     <section class="prog_img">
            <div class="container next_gen">
                <h1>Internet - of - Things Training</h1>
            </div>
            <div class="overlay_bg"></div>
     </section>
     <section class="training_detail">
        <div class="container">
            <div class="row training_text">
            <p><span>Internet-Of-Things : </span>2016 is likely to be the year that many industries start to cash in on the much-hyped benefits of smart connected devices. But as more devices become IP-enabled, they contribute to the pool of things that can be recruited into botnets or other platforms used for distributed attacks – something which most companies are currently not prepared.Distributing attacks via unmanned smart devices helps make it more difficult to trace the source and easier to overwhelm the target. Cyber is the new battlefield, and the fifth element of warfare, with states already pouring a huge range of resources into both defensive and offences capabilities.‘Within the next couple of years, we will experience an increasing number of cyber attacks resulting in militaristic and economic damage. While moving your workloads to a cloud-based environment or providing your services via a cloud computing model, you need to ensure that your cloud solution effectively supports your business Internet of things and privacy priorities, to effectively mitigate risk and protect the confidentiality, integrity and availability of computing resources and data. </p>
            </div>

            <div class="row training_data text-center">
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-mobile fa-8x"></i><h4>Device Integration</h4>
                                </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-language fa-8x"></i><h4>Embedded </h4>
                                </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-cog fa-8x"></i> <h4>Next-gen Electronics</h4>
                                </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                                <a> <i class="fa fa-fax fa-8x"></i> <h4>Heterogeneous Devices</h4>
                                </a>
                        </div>
                    <!-- Item box -->
                </div>
        </div>
        <div class="row training_items">
            <span class="span_text">IoT Courses</span>

            <div class="pricing-5-col">

            <!-- Price col item -->
            <div class="item_bottom" style="opacity: 1; bottom: 0px;">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>Embedded</h4>
                            </li>
                            <li class="price-row">
                                <span>Intro &amp; Features</span>
                            </li>
                            <li>
                                Components of Embedded
                            </li>
                            <li>
                                Programming of Embedded
                            </li>
                            <li>
                                Future Prospects
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_top" style="opacity: 1; top: 0px;">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>Robotics </h4>
                            </li>
                            <li class="price-row">
                                <span>
                                    Overview
                                </span>
                            </li>
                            <li>
                                Actuators and Drives
                            </li>
                            <li>
                                Kinematics
                            </li>
                            <li>
                                Intro to UAVs
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_bottom" style="opacity: 1; bottom: 0px;">
                <div class="pricing-box">
                    <div class="element-line">
                        <div class="pricing-featured">
                            <ul>
                                <li class="title-row"><h4>Smart Sensors </h4></li>
                                <li class="price-row"><span>Intro to Electronics</span></li>
                                <li>Pressure, Force Sensors</li>
                                <li>Inertial Sensing</li>
                                <li>Digital Sensor Processing</li>
                                <li class="btn-row">
                                    <div class="mybutton small">
                                        <a href="#"><span data-hover="Now">Get Started</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_top" style="opacity: 1; top: 0px;">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row"><h4>Devices Integration</h4></li>
                            <li class="price-row"><span>Intro to ARM</span></li>
                            <li>Intel Edison &amp; Galileo</li>
                            <li>Installing Drivers</li>
                            <li>Programming on ARM</li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_bottom" style="opacity: 1; bottom: 0px;">
                <div class="pricing-box last">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>Raspberry Pi </h4>
                            </li>
                            <li class="price-row">
                                <span>Introduction &amp; Specs</span>
                            </li>
                            <li>
                                Wire up the Raspberry Pi
                            </li>
                            <li>
                                Program your Raspberry Pi
                            </li>
                            <li>
                                Use Python to control
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->
            <div class="clearfix"></div>
        </div>
        </div>
     </section>

     <section class="news_section">
        <div class="container news_inner">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3>Any Query Or Intrested To Join Training Program </h3>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#" class="action">REACH US &nbsp;<i aria-hidden="true" class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>


     <footer>
        <% include ../partials/footer %>
    </footer>


<script src="/static/js/jquery.js"></script>

<script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
