<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Join us - as we are the best training provider in Chandigarh & Hyderabad-Trainings on live project under the guidance of the experts with handsful of experience">
    <meta name="author" content="">

    <title>Career Insights Jobs in Chandigarh - Stack Data Labs</title>
    <% include ../partials/head %>

</head>

<body>
    <% include ../partials/header %>
     <section class="prog_img">
            <div class="container next_gen">
                <h4>Know More</h4>
                <h1>Your Journey Begins Here.</h1>
            </div>
            <div class="overlay_bg"></div>
     </section>

<section class="apply-form">

   <div class="container apply_page">
        <h2></h2>
       <div class="row">
           <div class="col-md-10 col-md-offset-1">
               <blockquote class="application_quote"><p>“Learning from the teachers was the best decision I’ve made. I’m happy I realized how important it is to get into a community that genuinely cares about you. In only a few months, I met almost all the people in my industry who&nbsp;I admire.”</p><p><em>-Courtney Dickson</em></p></blockquote>

               <p><span class="apply_ready">Ready to take the next step towards a career in tech? Apply to one of our three tracks here!</span></p>

               <div style="" id="form_wrapper" class="apply_form">

                    <form action="" id="form_main" enctype="" method="post">

                       <div class="form_inner">

                           <ul class="" id="">

                               <li class="apply-list">
                                    <label for="" class="apply_headings">Name<span class="apply_icon">*</span></label>
                                    <div class="apply_input"> 
                                        <span class="text_name"> <input type="text" name=""> <label for="">First</label> </span> 
                                        <span class="text_name"> <input type="text" value="" name=""> <label for="">Last</label> </span> 

                                    </div>
                               </li>

                                <li class="apply-list">
                                    <label for="" class="apply_headings">Email<span class="apply_icon">*</span></label>
                                    <div class="apply_input medium"> <input type="text" name=""></div>
                                </li>

                               <li class="apply-list">
                                    <label for="" class="apply_headings">Phone Number<span class="apply_icon">*</span></label>
                                    <div class="apply_input medium"><input type="text" class="" value=""  name=""></div>
                                </li>

                               <li class="apply-list">
                                    <label for="" class="apply_headings">LinkedIn Profile URL</label>
                                    <div class="apply_input medium"><input type="text"  class="" value="" name=""></div>
                                </li>

                               <li class="">
                                    <label class="apply_headings">Which fields are you interested in?<span class="apply_icon">*</span></label>
                                    <div class="apply_input apply_radio">
                                        <ul class="radio_ul">
                                            <li class=""><input type="radio" value="" name=""><label for="">Big Data</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Cloud Computing</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Data Science</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Devops</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">IOT</label></li>
                                            <li class=""><input type="radio" value="" name=""><label for="">Data Visualization</label></li>
                                        </ul>
                                    </div>
                                </li>                              
                                <li class="" id="" style="display: none;">
                                    <label for="" class="">Please describe</label>
                                    <div class="apply_input"><textarea class="textar" name="" rows="6" cols="100"></textarea></div>
                                </li>
                                <li>
                                    <label class=""></label>
                                    <div class="apply_input apply_checkbox"><ul class=""><li class=""> <input type="checkbox" value="" name=""> <label id="" for="">Yes, I'd like to receive updates.</label></li></ul>
                                     </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form_submitt">
                            <input type="submit" value="Submit Application" class=" submit_button" id="">
                        </div>

                    </form>
               </div>
            </div>
        </div>
   </div>

</section>
    <% include ../partials/testimonial %>
    <% include ../partials/footer %>

</body>

</html>
