<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Want to learn the best skills of next generation technology? Come and join Stack Data Labs and get real time training by the experts,Contact us now @9780980005!">
    <meta name="author" content="">

    <title>Stack Data Labs-Finishing School-Chandigarh</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
     <section id="feature"  class="prog_img">
            <div class="container training_btn certification">
                <h1>immersive training program</h1>
                <p>An Immersive Training Programn of Technology explain your expertise skill in a particular field. StackLabs provide help for getting In-depth Training with practical exposure to get certified in latest Technology like OpenStack, MapR and Internet of Things. </p>
            </div>
            <div class="overlay_bg"></div>
     </section>

     <section class="certifcate-section">
         <div class="container certifications_main">
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/cloud_learn.png" class="img-responsive img-center" alt="" >
                </div>
                <div class="col-md-8">
                    <h2>Cloud</h2>
                    <p>
                        The OpenStack Certification, now the most popular On-line Certification IT Era. OpenStack is an Open source project to build and develop your own cloud wither it will be public or private. This certification concept start with the basic knowledge of Linux, Server installation and configuration.                     
                    </p>
                    <p>
                        StackLabs - provide In-depth technical knowledge and practise to the professional to qualify and complete the certification from OpenStack Foundation. This Certification helps build the Cloud certified expert for the industry and after this professional ready for Jobs                     
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h2>BigData</h2>
                    <p>
                        The MapR Certification, now the most significant On-line Certification in world of IT Industry. This Certification provide expert to the industry who give right suggestion to increase the business in right direction. In MapR Hadoop certification, you can demonstrate your big data expertise and gain recognition for one of the most sought after skills in technology IT Era.
                    </p>
                    <p>
                        StackLabs - provide certification training from scratch to the expert level with quality, experience expert trainer and complete hands on practise in high configuration Labs. This Certification helps build the BigData certified professional for the industry and ready for Jobs.                                        
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/images/bigdata_learn.png" class="img-responsive img-center" alt="" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/iot_learn.png" class="img-responsive img-center" alt="" >
                </div>
                <div class="col-md-8">
                    <h2>IoT</h2>
                    <p>
                        The Internet of Things (IoT), sometimes referred to as the Internet of Objects, will change everything — including ourselves. This may seem like a bold statement, but consider the impact the Internet already has had on education, communication, business, science, government, and humanity. Clearly, the Internet is one of the most important and powerful creations in all of human history.                      
                    </p>
                    <p>
                        Now consider that IoT represents the next evolution of the Internet, taking a huge leap in its ability to gather, analyze, and distribute data that we can turn into information, knowledge and, ultimately, wisdom. In this context, IoT becomes immensely important.                     
                    </p>
                </div>
            </div>
        </div>
     </section>


    <section class="news_section">
        <div class="container news_inner">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3>Any Query Or Intrested To Join Training Program </h3>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#" class="action">REACH US &nbsp;<i aria-hidden="true" class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
