<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="StackDataLabs Provides Six Month and Six Weeks Industrial Training in Chandigarh, Different Courses in Cloud Computing ,BigData with Expereinced Professionals .">

    <title>Stack Data Labs -Enterprise Training In Chandigarh</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
     <section class="prog_img">
            <div class="container next_gen">
                <h1>Locations</h1>
            </div>
            <div class="overlay_bg"></div>
     </section>

    <section class="program_section">
        <div class="container-fluid">
            <div class="program_main">
                <div class="container">
                    <div class="row">
                    <div class="col-md-4 col-sm-6 prog_icon blue_prog">
                        <div class="circle_outer">   
                             <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-BigData-Training.png" alt="StackDataLabs-BigData-Training" title="StackDataLabs-BigData-Training">
                            </div>                                            
                        </div>
                        <h4>Chandigarh,  INDIA</h4>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                        <a class="btn btn-lg btn-info" href="/chandigarh">Explore the Program</a>
                    </div>
                     <div class="col-md-4 col-sm-6 prog_icon green_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/images/StackDataLabs-CloudComputing-Training.png" alt="StackDataLabs-CloudComputing-Training" title="StackDataLabs-CloudComputing-Training">
                            </div>                                            
                        </div>
                        <h4>Hyderabad, INDIA</h4>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                        <a class="btn btn-lg btn-info" href="/hyderbad">Explore the Program</a>
                    </div>
                 
                     
                </div>     
             </div>
         </div>

    </div>
    </section>
   <% include ../partials/testimonial %>
    <% include ../partials/footer %>

</body>

</html>
