<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Enhance your career by learning Professional Machine Learning/Python from Stack Data Labs. We provide certification as well as training. Come and Join us today!">
    <meta name="author" content="">

    <title>Training-Machine Learning|Python-Stack Data Labs-Chandigarh</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
     <section class="prog_img">
            <div class="container next_gen">
                <h1>Machine Learning Training</h1>
            </div>
            <div class="overlay_bg"></div>
     </section>
     <section class="training_detail">
        <div class="container">
            <div class="row training_text">
            <p><span>Machine Learning :</span> The next frontier for innovation, competition, and productivity.Big Data refers to datasets that grow so large that it is difficult to capture, store, manage, share, analyze and visualize with the typical database software tools. The popular ways to solve big data problems is to break complex problems into smaller pieces, send each piece to a different computer, solve the smaller pieces in parallel, and then pull the results together for analysis. This is the approach used by an open source program called Hadoop and its application programming model, MapReduce Big data types (e.g., location, time-series, and sensor data) require fundamental matrix operations that are not suited to traditional row-store, column-store, or MapReduce. Volume. As of 2012, about 2.5 exabytes of data are created each day, and that number is doubling every 40 months or so. More data cross the internet every second than were stored in the entire internet just 20 years ago Velocity. For many applications, the speed of data creation is even more important than the volume. Real-time or nearly real-time information makes it possible for a company to be much more agile than its competitors.</p>
            </div>

            <div class="row training_data text-center">
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                            <a> <i class="fa fa-users fa-8x"></i><h4>Hadoop Administration</h4>
                                <p>
                                    Must Have Knowledge of Hadoop Distributed File System &amp; MapReduce work,Hardware,network configurations for Hadoop clusters-Cloudera,Hortonworks ,Amazon.
                                 </p>
                            </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                             <a> <i class="fa fa-bar-chart-o fa-8x"></i><h4>Data Engineering </h4>
                              <p>
                                  Apache Hadoop and data ETL (extract, transform, load), ingestion, and processing with Hadoop tools Joining multiple data sets and analyzing disparate data with Pig.simplifying complex queries with Hive
                               </p>
                                </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                            <a> <i class="fa fa-gear fa-8x"></i> <h4>Machine Learning </h4>
                                <p>
                                   Expereince in Data Structure &amp; Algorithms Understanding of Collections,Multithreading NoSQL,Hadoop platform.Exposure to Maven/Ant, Git Exposure to Hive,Pig,Sqoop,or Flume
                                </p>
                            </a>
                        </div>
                    </div>
                    <!-- Item box -->
                    <!-- Item box -->
                    <div class="col-md-3 col-sm-3 col-xs-12 data_inner">
                        <div class="parallax-box">
                            <a> <i class="fa fa-dashboard fa-8x"></i> <h4>Big Data Analytics</h4>
                                <p>
                                  BigData Training Program Covers the Linux Essentials ,Java Essentials, Hadoop Administration and Hadoop Development Languages ,Hive ,Pig and Flumes.
                                </p>
                            </a>
                        </div>
                    <!-- Item box -->
                </div>
        </div>
        <div class="row training_items">
            <span class="span_text">Other Courses</span>
            <div class="pricing-5-col">

            <!-- Price col item -->
            <div class="item_bottom">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>Hadoop Administration</h4>
                            </li>
                            <li class="price-row">
                                <span>Hadoop Deployment</span>
                            </li>
                            <li>
                                Cluster Management
                            </li>
                            <li>
                                Dimensioning
                            </li>
                            <li>
                                Hadoop Ecosystem
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_top">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>Data Engineering </h4>
                            </li>
                            <li class="price-row">
                                <span>
                                    Basics of Data
                                </span>
                            </li>
                            <li>
                                Basic Operations
                            </li>
                            <li>
                                MapReduce
                            </li>
                            <li>
                                Spark
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_bottom">
                <div class="pricing-box">
                    <div class="element-line">
                        <div class="pricing-featured">
                            <ul>
                                <li class="title-row"><h4>Big Data Analytics </h4></li>
                                <li class="price-row"><span>Introduction</span></li>
                                <li>Types of Data</li>
                                <li>Data Management</li>
                                <li> Warehousing</li>
                                <li class="btn-row">
                                    <div class="mybutton small">
                                        <a href="#"><span data-hover="Now">Get Started</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_top">
                <div class="pricing-box">
                    <div class="element-line">
                        <ul>
                            <li class="title-row"><h4>Apache Spark </h4></li>
                            <li class="price-row"><span>Introduction</span></li>
                            <li>Spark for Realtime</li>
                            <li>Machine Learning</li>
                            <li>Future Prospects</li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->

            <!-- Price col item -->
            <div class="item_bottom">
                <div class="pricing-box last">
                    <div class="element-line">
                        <ul>
                            <li class="title-row">
                                <h4>Java </h4>
                            </li>
                            <li class="price-row">
                                <span>Introduction to Java</span>
                            </li>
                            <li>
                                Control Statements
                            </li>
                            <li>
                                Object Oriented in Java
                            </li>
                            <li>
                                Java for BigData
                            </li>
                            <li class="btn-row">
                                <div class="mybutton small">
                                    <a href="#"><span data-hover="Now">Get Started</span></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Price col item -->
            <div class="clearfix"></div>
        </div>
        </div>
     </section>

    <section class="news_section">
        <div class="container news_inner">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3>Any Query Or Intrested To Join Training Program </h3>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#" class="action">REACH US &nbsp;<i aria-hidden="true" class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
     <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
