<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stack Labs - explore training</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
    <section id="feature"  class="prog_img">
            <div class="container training_btn certification">
                <h1>Partnres</h1>
                <p> Our aim is to use Technology to Serve, Care, Develop and Provide Solutions to People.</p>
            </div>
            <div class="overlay_bg"></div>
     </section>
    <section class="partnrers_section service_labs">
                <div class="container"> 
                    <h2> Technology providers & solution provider</h2>


                 
                <div class="service_main">
                    <div class="text-center">
                        <!-- Parallax title -->
                        <!-- Parallax content -->
                        <div class="service-content">
                            <div class="row text-center client-list">
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                     <div class="service-inner">
                                            <a href="#"> <img src="/images/StackDataLabs-OpenStack-Training.png" class="img-responsive" alt="Stack Data Labs:OpenStack Training"> </a>
                                     </div>
                                </div>
                                <!-- Client item -->
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3  col-xs-6">
                                    <div class="service-inner">
                                         <a href="#">  <img src="/images/StackDataLabs-AmazonWebServices-Training.png" class="img-responsive"  alt="Stack Data Labs:AWS Training"> </a>
                                      </div>
                                </div>
                                <!-- Client item -->
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3  col-xs-6">
                                    <div class="service-inner">
                                       <a href="#">  <img src="/images/StackDataLabs-MapR-Training.png" class="img-responsive" alt="Stack Data Labs:MapReduce Training"> </a>
                                    </div>
                                </div>
                                <!-- Client item -->
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <div class="service-inner">
                                       <a href="#">  <img src="/images/StackDataLabs-Devops-Training.png" class="img-responsive" alt="Stack Data Labs:Xenonstack"> </a>
                                      </div>
                                </div>
                                <!-- Client item -->
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3  col-xs-6">
                                    <div class="service-inner">
                                         <a href="#">  <img src="/images/StackDataLabs-Bluemix-Training.png" class="img-responsive" alt="Stack Data Labs:Bluemix"> </a>
                                      </div>
                                </div>
                                <!-- Client item -->
                                <!-- Client item -->
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <div class="service-inner">
                                            <div class="servive_text">
                                                <span class="ser_tesla">Tesla</span>
                                                <span class="ser_data">Data Labs</span>
                                             </div>
                                    </div>
                                </div>
                                <!-- Client item -->
                            </div>
                        </div>
                        <!-- Parallax content -->
                    </div>
                </div>
                </div>
            </section>

    <section class="news_section">
        <div class="container news_inner">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3>Any Query Or Intrested To Join Training Program </h3>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#" class="action">REACH US &nbsp;<i aria-hidden="true" class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>


     <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
