<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stack Data Labs provides you the best training for Data Visualisation. Join Stack Data Labs & learn to visualize and share data using graphical interface.">
    <meta name="author" content="">

    <title>Best Training for Data Visualisation|Javascript - Chandigarh</title>
    <% include ../partials/head %>
    <script src="/js/jquery-min.js"></script>

</head>

<body>
        <% include ../partials/header %>
     <section id="feature"  class="prog_img">
            <div class="container training_btn">
                <img title="" alt="" src="/images/big_icon.png" class="img-responsive">
                <h1>Data Visualization Training</h1>
                <p><a class="btn btn_apply" href="#">APPLY NOW</a>
                    <a class="btn btn_reach" href="#">Talk to instructor</a>
                </p>
            </div>
            <div class="overlay_bg"></div>
     </section>

     <section class="scroll-prog">
        <div id="stickyNavContainer">
    <div id="about" class="space">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 stickyNav" id="stickyNav">
                        <ul class="nav">
                            <li class=""><a href="#about">ABOUT COURSE</a></li>
                             <li class=""><a href="#curriculum">Curriculum</a></li>
                            <li class=""><a href="#faq">FAQ</a></li>
                            <li class=""><a href="#desc">Description</a></li>
                            <li class=""><a href="#offerings">Our Offerings</a></li>
        
                           <!-- <li><a href="/apply/">Apply</a></li> -->
                        </ul>
                    </div>
                    <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 about-prog">
                            <h3>About Course</h3>
                        <p>Big Data will help generate help to new growth opportunities and entirely new categories of companies in the market, such as those that aggregate and analyze industry data. Most of those will be companies that sit in the middle of large information flows where data about products and services, buyers and product suppliers, consumer preferences and intent can be captured and analyzed. Big Data forward-thinking of leaders across sectors should begin aggressively to build their organizations’. Five ways to leverage Big Data</p>
                    </div>
                </div>
            </div>
    </div>
    <div id="curriculum" class="space">
            <div class="container">
                <div class="row">
                        <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3">
                         <div class="curriculum">
                                <h3 id="curriculum">CURRICULUM</h3>
                                <div class="col-md-6">
                                    <ul>
                                        <li>Linux Installation and Package Management
                                            <ul>
                                                <li>Design Hard disk Layout</li>
                                                <li>Install a boot loader</li>
                                                <li>Manage Shared Libraries</li>
                                                <li>Use Debian Package Management.</li>
                                                <li>Use RPM and YUM Package Management.</li>
                                            </ul>
                                        </li>
                                        <li>System Architecture and Device Management
                                            <ul>
                                                <li>Determine and Configure hardware Settings</li>
                                                <li>Boot the System</li>
                                                <li>Managing Storage</li>
                                                <li>Change Run levels and shutdown System.</li>
                                            </ul>
                                        </li>
                                        <li>GNU Linux Basic Commands
                                            <ul>
                                                <li>Working on Command Line</li>
                                                <li>Perform basic file Management</li>
                                                <li>Create Monitor and kill Process</li>
                                            </ul>
                                        </li>
                                        <li>System Administration
                                            <ul>
                                                <li>Managing User and Group</li>
                                                <li>Techniques for Backup and Recovery</li>
                                                <li>Automation tasks with scripts</li>
                                            </ul>
                                        </li>
                                        <li>Network Services
                                            <ul>
                                                <li>Identity Management</li>
                                                <li>Network File Sharing</li>
                                                <li>Granting Network Connectivity with DHCP</li>
                                                <li>Creating a Web Server with Apache Http Server</li>
                                                <li>Hostname Resolution with Bind</li>
                                                <li>Securing Remote Logins with Open SSH</li>
                                                <li>Setting up Email Server</li>
                                            </ul>
                                        </li>
                                        <li>NameNode High Availability
                                            <ul>
                                                <li>Shared Storage Using NFS</li>
                                                <li>Quorum Based Storage</li>
                                                <li>Split-Brain Scenario</li>
                                            </ul>
                                        </li>
                                        <li>Cluster Maintenance
                                            <ul>
                                                <li>Start/Stop/Restart Hadoop Daemons</li>
                                                <li>HDFS Maintenace</li>
                                                <li>File system Balancer</li>
                                                <li>Commissioning and decommissioning nodes</li>
                                                <li>Upgrading</li>
                                                <li>Using DFS Admin</li>
                                                <li>MapReduce Maintenance</li>
                                                <li>Commissioning and decommissioning TaskTracker</li>
                                                <li>Killing MR tasks and Jobs</li>
                                                <li>Blacklisted TaskTrackers</li>
                                                <li>Hands on Exercises</li>
                                            </ul>
                                        </li>
                                        <li>Backup and Recovery
                                            <ul>
                                                <li>Data Backup</li>
                                                <li>Meta Data Backup and Recovery</li>
                                                <li>Recovering failed NameNode</li>
                                            </ul>
                                        </li>
                                        <li>Monitoring the Cluster
                                            <ul>
                                                <li>Using the Web user interfaces</li>
                                                <li>Hadoop Log files</li>
                                                <li>Setting the log levels</li>
                                                <li>Monitoring with Nagios</li>
                                                <li>Monitoring with Ganglia</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>Introduction to Big Data and Hadoop
                                            <ul>
                                                <li>What is Big Data?</li>
                                                <li>What are the challenges for processing big data?</li>
                                                <li>What technologies support big data?</li>
                                            </ul>
                                        </li>
                                        <li>Hadoop
                                            <ul>
                                                <li>Why Hadoop?</li>
                                                <li>History of Hadoop</li>
                                                <li>Use Cases of Hadoop</li>
                                                <li>Hadoop ecosystem</li>
                                                <li>HDFS</li>
                                                <li>Classic MapReduce</li>
                                                <li>YARN</li>
                                                <li>Statistics</li>
                                            </ul>
                                        </li>
                                        <li>Understanding the Cluster
                                            <ul>
                                                <li>Typical workflow</li>
                                                <li>Writing files to HDFS</li>
                                                <li>Reading files from HDFS</li>
                                                <li>Rack awareness</li>
                                                <li>5 daemons</li>
                                            </ul>
                                        </li>
                                        <li>Hadoop Cluster Mode
                                            <ul>
                                                <li>Standlone Mode</li>
                                                <li>Pseudo-Distributed Mode</li>
                                                <li>Fully-Distributed Mode</li>
                                                <li>Hadoop Cluster Administra</li>
                                                <li>Hadoop Architecture</li>
                                                <li>Cluster Setup</li>
                                            </ul>
                                        </li>
                                        <li>Hadoop cluster : Planning &amp; Managing
                                            <ul>
                                                <li>Backup, Recovery and Maintenance</li>
                                                <li>QJM, HDFS Federaton &amp; Security</li>
                                            </ul>
                                        </li>
                                        <li>Cluster Setup
                                            <ul>
                                                <li>Install Pseudo cluster</li>
                                                <li>Install Multi node cluster</li>
                                                <li>Configuration</li>
                                                <li>Benchmarking the cluster</li>
                                                <li>Setup cluster on Cloud - EC2</li>
                                                <li>Elastic MapReduce (EMR)</li>
                                                <li>Setting up Cluster with Cloudera Manager</li>
                                                <li>Managing and Monitoring Cluster with Cloudera Manager</li>
                                                <li>Security Implementaton using Kerberos</li>
                                                <li>NameNode Federation</li>
                                            </ul>
                                        </li>
                                        <li>Hadoop Resource Management
                                            <ul>
                                                <li>HDFS Quotas</li>
                                                <li>Map Reduce Schedulers</li>
                                                <li>FIFO</li>
                                                <li>Fair Scheduler</li>
                                                <li>Capacity Scheduler</li>
                                                <li>Implement Fair Scheduler</li>
                                            </ul>
                                        </li>
                                        <li>Cluster Troubleshooting
                                            <ul>
                                                <li>How to Troubleshoot?</li>
                                                <li>Common Problems and Solutions</li>
                                                <li>Install, Configure and Implementation</li>
                                                <li>PIG</li>
                                                <li>HIVE</li>
                                                <li>HBASE</li>
                                                <li>Sqoop</li>
                                                <li>Flume</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        
        <div id="faq" class="space">
            <div class="container">
                <div class="row">
                     <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 main_headline">
                            <h3>Faq</h3>
                            <ul class="curriculumBlocks">
                                                            <li><a class="expander collapsed" href="#">+</a><p> What is BigData? </p>
                                    <div class="content" style="display: none;">
                                        <p> Big data is a popular term used to describe the exponential growth and availability of data, both structured and unstructured. As far back as 2001, industry analyst Doug Laney (currently with Gartner) articulated the now mainstream definition of big data as the three V’s of big data: volume, velocity and variety.</p>
                                    </div>
                                </li>
                                                                                        <li><a class="expander collapsed" href="#">+</a><p>Is Big Data a Volume or a Technology?</p>
                                    <div class="content" style="display: none;">
                                        <p>While the term may seem to reference the volume of data, that isn't always the case. The term big data, especially when used by vendors, may refer to the technology that an organization requires to handle the large amounts of data and storage facilities. The term big data is believed to have originated with Web search companies who needed to query very large distributed aggregations of loosely-structured data.</p>
                                    </div>
                                </li>
                                                                                        <li><a class="expander collapsed" href="#">+</a><p>An Example of Big Data.</p>
                                    <div class="content" style="display: none;">
                                        <p>An example of big data might be petabytes (1,024 terabytes) or Exabyte’s (1,024 petabytes) of data consisting of billions to trillions of records of millions of people—all from different sources (e.g. Web, sales, customer contact center, social media, mobile data and so on). The data is typically loosely structured data that is often incomplete and inaccessible.</p>
                                    </div>
                                </li>
                                                                                        <li><a class="expander collapsed" href="#">+</a><p>What are the different fields where BigData can be applied/ already implemented?</p>
                                    <div class="content" style="display: none;">
                                        <p>Transportation (Logistics optimization, Traffic congestion)</p>
                                        <p>Healthcare/Life Sciences (Medical record text analytics, Genomic analytics)</p>
                                        <p>Telecommunications (Call detail record processing, Customer profile monetization)</p>
                                        <p>Energy and Utilities (Smart meter analytics, Asset management)</p>
                                        <p>Digital Media (Real-time ad targeting, Website analysis)</p>
                                        <p>Retail (Omni-channel marketing, Click-stream analysis)</p>
                                        <p>Law Enforcement (Real-time multimodal surveillance, Cyber security detection)</p>
                                    </div>
                                </li>
                                                                                        <li><a class="expander collapsed" href="#">+</a><p>Establish Yourself as a Business Development Leader</p>
                                    <div class="content" style="display: none;">
                                        <p>Business development at its core is all about&nbsp;creating growth for your company through relationships with customers and partners. This module will help you understand how&nbsp;business development differs from&nbsp;sales, and the role it&nbsp;plays in technology startups. You’ll be exposed to channel and indirect sales, and explore how these models are structured and how to optimize support and your relationships.</p>
                                    </div>
                                </li>
                            </ul> 
                              
                        </div> 
                </div>
            </div>
        </div>
        <div id="desc" class="space">
                <div class="container">
                    <div class="row">
                         <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 main_headline">
                                <h3>Description</h3>
                                <div class="tab-pane">
                                    <div class="dec-tv">
                                        <p>Big data may be new for Startups Eco Organization and for online firms, but many large Companies view it as something they have been wrestling with for a while. Some highly educated people appreciate the innovative nature of big data technology, but more find it “business as usual” or part of a continuing evolution toward more about data. They have been adding new companies of data to their systems and models for many years, and don’t see anything revolving about big data.</p>
                                        <p class="bolder">Big data is a big deal</p>
                                        <p>The era of Big Data could yield new organization management principles. Now what will be the question generated by Big Data ?</p>
                                        <ul>
                                            <li>What happens in a world of radical transparency, with data widely available?</li>
                                            <li>If you could test all of your decisions, how would that change the way you compete?</li>
                                            <li>How would your business change if you used Big Data for widespread, real-time customization?</li>
                                            <li>How can Big Data augment or even replace management?</li>
                                            <li>Could you create a new business model based on data?</li>
                                        </ul><br>
                                        <br>
                                        <br>
                                        <br>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
        
        <div id="offerings" class="space">
                <div class="container">
                    <div class="row">
                         <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 main_headline">
                            <h3>Our Offerings</h3>
                                <div class="tab-pane">
                                        <div class="Offerings-tv">
                                            <p><span class="bolder">CloudEra Finishing School </span>offer Expertise, Experience, Research Infrastructure and consultancy in the areas Technical Education towards the Young Professional. Our focus is on Technology, Personality Development, Career Consultancy, Manpower, Job Assistance, Startups ECO System and acquisitions. Our mythology is structured as follow : </p>
                                             <ul>
                                                 <li>Career Assistance</li>
                                                 <li>Provide Research Topic</li>
                                                 <li>Meet Industry Expertise</li>
                                                 <li>Research Briefings</li>
                                                 <li>Blogging</li>
                                                 <li>Job Assistance</li>
                                            </ul><br>
                                         </div>
                                 </div>
                            </div>
                    </div>
                </div>
        </div>
        
    </div>

     </section>

    <section class="news_section">
        <div class="container news_inner">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <h3>Any Query Or Intrested To Join Training Program </h3>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12"><a href="#" class="action">REACH US &nbsp;<i aria-hidden="true" class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>


    <% include ../partials/testimonial %>
    <% include ../partials/footer %>


<script src="/js/bootstrap.js"></script>
<script src="/js/slide-nav.js"></script>
<script src="/js/expand-nav.js"></script>
<script src="/js/stickynav-custom.js"></script>

</body>

</html>
