<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Programs - Stack Labs</title>


     <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

     <!-- Awsome font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/socicon/socicon/styles.css" rel="stylesheet">
    <link href="/static/themify-icons/css/themify-icons.css" rel="stylesheet">


    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> 
    <link href="//fonts.googleapis.com/css?family=Monoton|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
     <section class="prog_img">
            <div class="container next_gen">
                <h1>Next Generation Training</h1>
            </div>
            <div class="overlay_bg"></div>
     </section>

    <section class="program_section">
        <div class="container-fluid">
            <div class="program_main">
                <div class="container">
                    <div class="row">
                    <div class="col-md-4 col-sm-6 prog_icon blue_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/static/images/big-data-icon.png" alt="data_center" title="data_center">
                            </div>                                           
                        </div>
                        <h4>Big Data</h4>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                        <a class="btn btn-lg btn-info" href="#">Explore the Program</a>
                    </div>
                    <div class="col-md-4 col-sm-6 prog_icon green_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/static/images/cloud-icon.png" alt="data_center" title="data_center">
                            </div>                                           
                        </div>
                        <h4>Cloud</h4>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                        <a class="btn btn-lg btn-info" href="#">Explore the Program</a>
                    </div>
                 
                    <div class="col-md-4 col-sm-6 prog_icon orange_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/static/images/data-science-icon.png" alt="data_center" title="data_center">
                            </div>                                           
                        </div>
                        <h4>Data Science</h4>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                        <a class="btn btn-lg btn-info" href="#">Explore the Program</a>
                    </div>  
                    <div class="col-md-4 col-sm-6 prog_icon blue_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/static/images/debvops_icon.png" alt="data_center" title="data_center">
                            </div>                                           
                        </div>
                        <h4>DevOps</h4>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                        <a class="btn btn-lg btn-info" href="#">Explore the Program</a>
                    </div>
                    <div class="col-md-4 col-sm-6 prog_icon green_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/static/images/iot-icon.png" alt="data_center" title="data_center">
                            </div>                                           
                        </div>
                        <h4>IoT</h4>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                        <a class="btn btn-lg btn-info" href="#">Explore the Program</a>
                    </div>
                 
                    <div class="col-md-4 col-sm-6 prog_icon orange_prog">
                        <div class="circle_outer">   
                            <div class="circle_inner">           
                                <img class="img-responsive" src="/static/images/data-visualization-icon.png" alt="data_center" title="data_center">
                            </div>                                           
                        </div>
                        <h4>Data Visualization</h4>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                        <a class="btn btn-lg btn-info" href="#">Explore the Program</a>
                    </div>  

                </div>     
             </div>
         </div>

    </div>
    </section>
    <section class="pro_testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h5>What People Are Saying</h5></div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3> With Stack Labs Professional Course , you will get expertise in your interested technology from Core Industry Expert Trainer, get Life Time Mentoring, Job Assistance after completing your course, experience of working with Live Project. </h3>
                    <p>Collaboration, Innovation, Knowledge and Development</p>
                </div>
            </div>
        </div>
        <div class="overlay_bg"></div>
    </section>
           

     <footer>
        <% include ../partials/footer %>
    </footer>


<script src="/static/js/jquery.js"></script>

<script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
