<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="If you want to get registered for the internship training program at Stack Data Labs-Chandigarh|Hyderabad. Contact us now @9780980005|visit stackdatalabs.com !!">
    <meta name="author" content="">

    <title>Register for Internship Training-Stack Data Labs-Chandigarh</title>
    <% include ../partials/head %>
</head>

<body>
        <% include ../partials/header %>
     <section class="prog_img">
            <div class="container next_gen">
                <h4>General Inquiries</h4>
                <h1>Your Journey Begins Here.</h1>
            </div>
            <div class="overlay_bg"></div>
     </section>

<section class="apply-form">

   <div class="container apply_page reach_page">
        <h2>We're Only a Click Away</h2>
       <div class="row">
           <div class="col-md-10 col-md-offset-1">
               

               <p><span class="apply_ready">Please email us with any questions you have and someone from the team will promptly reply. Thank you.</span></p>

               <div style="" id="form_wrapper" class="apply_form">

                    <form action="" id="form_main" enctype="" method="post">

                       <div class="form_inner">

                           <ul class="" id="">

                               <li class="apply-list">
                                    <label for="" class="apply_headings">Name<span class="apply_icon">*</span></label>
                                    <div class="apply_input"> 
                                        <span class="text_name"> <input type="text" name=""> <label for="">First</label> </span> 
                                        <span class="text_name"> <input type="text" value="" name=""> <label for="">Last</label> </span> 

                                    </div>
                               </li>

                                <li class="apply-list">
                                    <label for="" class="apply_headings">Email<span class="apply_icon">*</span></label>
                                    <div class="apply_input medium"> <input type="text" name=""></div>
                                </li>

                               <li class="">
                                    <label class="apply_headings">I have a question about...<span class="apply_icon">*</span></label>
                                    <div class="apply_input medium">
                                        <select aria-invalid="false" aria-required="true" tabindex="506" class="medium gfield_select" id="input_1_5" name="input_5">
                                            <option value="-- Choose One --">-- Choose One --</option>
                                            <option value="A Specific Program">A Specific Program</option>
                                            <option value="Applying to a Program">Applying to a Program</option>
                                            <option value="Press Inquiries">Press Inquiries</option>
                                            <option value="Something Else">Something Else</option>
                                        </select>
                                    </div>
                                </li>                              
                                <li>
                                    <label for="" class="apply_headings">Your Question</label>
                                    <div class="apply_input"><textarea class="textar" name="" rows="6" cols="100"></textarea></div>
                                </li>
                                <li>
                                    <label class=""></label>
                                    <div class="apply_input apply_checkbox"><ul class=""><li class=""> <input type="checkbox" value="" name=""> <label id="" for="">Yes, I'd like to receive updates.</label></li></ul>
                                     </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form_submitt">
                            <input type="submit" value="Submit" class=" submit_button" id="">
                        </div>

                    </form>
               </div>
            </div>
        </div>
   </div>

</section>
    <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
