<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We here at  Stack Data Labs Chandigarh|Hyderabad have a team of professional with handsful of experience. Join us & Get Certified by the experts!">
    <meta name="author" content="">

    <title>Team - Stack Data labs-Chandigarh|Hyderabad</title>
    <% include ../partials/head %>

</head>

<body>
        <% include ../partials/header %>
     <section class="prog_img">
            <div class="container next_gen">
                <h1>Meet our Team</h1>
            </div>
            <div class="overlay_bg"></div>
     </section>

    <section class="about_us">
        <div class="container">
            <h2 class="about_heading ">The Stack Labs Professional Team</h2>
            <div class="row team-inner">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-5 team-img">
                        <div class="team_inner_img">
                            <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                            <div class="social-team">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 team-text">
                        <h3>Navdeep Singh</h3>
                        <h5>Managing Director</h5>
                        <p>As Silicon Valley-based seed-stage venture capitalists, we at GrowthX have seen first-hand the problem of founders and startups not being able to find qualified candidates to take on ambitious roles in the technology industry.</p>
                    </div>
                </div>
        </div>

         <div class="row team-inner">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-5 team-img">
                        <div class="team_inner_img">
                            <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                            <div class="social-team">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 team-text">
                        <h3>Navdeep Singh</h3>
                        <h5>Managing Director</h5>
                        <p>As Silicon Valley-based seed-stage venture capitalists, we at GrowthX have seen first-hand the problem of founders and startups not being able to find qualified candidates to take on ambitious roles in the technology industry.</p>
                    </div>
                </div>
        </div>

         <div class="row team-inner">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-5 team-img">
                        <div class="team_inner_img">
                            <img src="/images/alumin_prize.jpg" class="img-responsive" alt="">
                            <div class="social-team">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 team-text">
                        <h3>Navdeep Singh</h3>
                        <h5>Managing Director</h5>
                        <p>As Silicon Valley-based seed-stage venture capitalists, we at GrowthX have seen first-hand the problem of founders and startups not being able to find qualified candidates to take on ambitious roles in the technology industry.</p>
                    </div>
                </div>
        </div>
    </section>
    <section class="about_content">
            <div class="container">

                <div class="row">

                    <div class="col-md-10 col-md-offset-1">
                     <h2 class="about_heading ">Founded by StackData Labs</h2>
                    <p>As Silicon Valley-based seed-stage venture capitalists, we at GrowthX have seen first-hand the problem of founders and startups not being able to find qualified candidates to take on ambitious roles in the technology industry. We created GrowthX Academy to provide students with the crucial skills most startups need, along with industry connections to build a long-term, rewarding career in this exciting and dynamic field.</p>

                    <p><a class="btn btn-lg btn-primary" href="#" target="_blank">Learn More at StackDataLabs.com</a></p>

                    </div>

                </div>

            </div>
    </section>
    <% include ../partials/testimonial %>
    <% include ../partials/footer %>
</body>

</html>
